{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'icons/planta.png' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/components/shopping_car.js' %}" defer></script>

    <title>Carrito de compras</title>
</head>
<body>
        {% include 'components/navbar-home.html' %}

        <div class="shoppingcar-container">
            {% include 'carrito_compras/components/shopping-car.html' %}
        </div>

        <footer class="footer-container">
            {% include 'components/footer.html' %}
        </footer>
</body>
</html>