{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Perfil</title>
  <link rel="icon" href="{% static 'icons/planta.png' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="{% static 'js/components/gov-co__one.js' %}"></script>
  <script src="{% static 'js/components/gov-co__two.js' %}"></script>
  <script src="{% static 'js/components/footer.js' %}" defer></script>
</head>
<body>
  <div class="govco-container__one">
    {% include 'components/gov-co__one.html' %}
  </div>
  <div class="create-farmer"></div>
  {% include 'tiendas/components/create-shop.html' %}
  <footer class="footer-container"></footer>
  <div class="govco-container__two">
    {% include 'components/gov-co__one.html' %}
  </div>
</body>
</html>
