{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Tienda</title>
    <link rel="icon" href="{% static 'icons/planta.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="create-shop-page">

    <div class="govco-container__one">
        {% include 'components/gov-co__one.html' %}
    </div>
    <main class="create-shop-page-layout">
        <div class="page-left__shop" style="background: linear-gradient(var(--overlay-dark), var(--overlay-dark)), url('{% static "img/farmer.jpg" %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            <h1 class="page__title-left">Bienvenido a Agrophia <br>conectando el campo con tu mesa</h1>
        </div>

        <div class="page-right__shop">
            <div class="page__formshop-container">
                {% include 'tiendas/components/create-shop.html' %}
            </div>
        </div>
    </main>
    <div class="govco-container__two">
        {% include 'components/gov-co__one.html' %}
    </div>

    <script src="{% static 'js/components/gov-co__one.js' %}"></script>
    <script src="{% static 'js/components/gov-co__two.js' %}"></script>

</body>
</html>
