{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Agricultor</title>
    <link rel="icon" href="{% static 'icons/planta.png' %}">
    <link rel="stylesheet" href="{% static 'Tiendas/css/navbar-store.css' %}">
</head>
<body>
    <div class="govco-container__one">
        {% include 'components/gov-co__one.html' %}
    </div>
    <header class="navbar-container"></header>

    {% include 'tiendas/components/navbar-store.html' %}

    <div class="layout__interface-farmer">
        <section class="board-container">
            {% include 'tiendas/components/interface-farmer_options.html' %}
        </section>
        <section class="search__container-index"></section>
        <div class="card-farmer__container"></div>
    </div>

    <footer class="footer-container"></footer>
    <div class="govco-container__two">
        {% include 'components/gov-co__one.html' %}
    </div>
</body>
</html>
