{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Tienda</title>
  <link rel="icon" href="{% static 'icons/planta.png' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div class="govco-container__one">
    {% include 'components/gov-co__one.html' %}
  </div>

  <div class="profile-container profile-container-shop">
    {% include 'tiendas/components/profile_shop.html' %}
  </div>

  <footer class="footer-container">
    {% include 'components/footer.html' %}
  </footer>

  <div class="govco-container__two">
    {% include 'components/gov-co__one.html' %}
  </div>
</body>
</html>


