.card-available__container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 24px; */
  max-width: 1920px;
}

/* Contenedor que organiza las cards en grilla */
.card-available__container {
  display: grid;
  gap: 24px;
  width: 100%;
  justify-content: center;
}

/* === Card === */
.card-available {
  background-color: var(--white);
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  min-width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-available:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 1);
}

/* Imagen de la card */
.card-available__img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-available__info {
  display: flex;
  flex-direction: column;
  /* Precio arriba, nombre abajo */
  align-items: flex-start;
  /* ← Alineados a la izquierda */
  margin-bottom: 10px;
}

/* Texto dentro de la card */
.card-available__price {
  font-size: var(--fs-sm);
  color: var(--black);
  font-weight: 600;
  margin-bottom: 4px;
}

.card-available__name {
  font-size: var(--fs-xs);
  font-weight: 500;
  color: var(--primary-700);
  margin-bottom: 4px;
}

/* === Botón === */

.card-available__button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.card-available__button-one {
  display: flex;
  height: 42px;
  gap: 8px;
  background: linear-gradient(135deg, var(--primary-500), var(--primary-700));
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  text-decoration: none;
  font-size: var(--fs-xs);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-items: center;
  justify-content: center;
}

.card-available__button-one:hover {
  background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card-available__button-one:active {
  background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
  transform: scale(0.98);
}

.card-available__button-two {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  background-color: var(--gray-600);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 9px 16px;
  text-decoration: none;
  font-size: var(--fs-xs);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card-available__button-two:hover {
  opacity: 60%;
  transform: scale(1.02);
  cursor: pointer;
}

.card-available__button-two:active {
  opacity: 60%;
  transform: scale(0.98);
}


/* === Responsive Grid === */
@media (width > 640px) {
  .card-available__container {
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    padding: 24px;
  }
}

@media (width > 1024px) {
  .card-available__container {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }
}

@media (width > 1280px) {
  .card-available__container {
    grid-template-columns: repeat(4, 1fr);
    width: auto;
  }
}