.card-farmer__container-section {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 24px; */
  /* max-width: 1920px; */
}

/* Contenedor que organiza las cards en grilla */
.card-farmer__container {
  display: grid;
  padding: 24px;
  gap: 24px;
  justify-content: center;
}


.card-farmer {
  width: auto;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  /* min-width: 290px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-farmer:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 1);
}


.card-farmer__img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 16px;
  object-fit: cover;
}

.card-farmer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}


.card-farmer__price {
  font-size: var(--fs-sm);
  color: var(--black);
  font-weight: 600;
  margin-bottom: 8px;
}

.card-farmer__name {
  font-size: var(--fs-xs);
  font-weight: 500;
  color: var(--primary-700);
  margin-bottom: 16px;
}

/* .card-home__button svg {
  width: 24px;
  height: 24px;
  stroke: var(--white);

} */

.card-homefarmer__button {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.card-farmer__button-one {
  width: max-content;
  height: 40px;
  background: linear-gradient(135deg, var(--primary-500), var(--primary-700));
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  /* Material Design spacing */
  height: 40px;
  font-size: var(--fs-xs);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.ccard-farmer__button-one:hover {
  background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.ccard-farmer__button-one:active {
  background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
  transform: scale(0.98);
}

.card-homefarmer__button-two {
  justify-content: center;
  height: 40px;
  background-color: var(--gray-600);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 9px 16px;
  height: 36px;
  font-size: var(--fs-xs);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card-homefarmer__button-two:hover {
  opacity: 60%;
  transform: scale(1.02);
  cursor: pointer;
}

.card-homefarmer__button-two:active {
  opacity: 60%;
  transform: scale(0.98);
}


/* === Responsive Grid === */
@media (width > 640px) {

  .card-farmer {
    margin: 0;
  }

  .card-farmer__container {
    grid-template-columns: repeat(2, 1fr);
    /* max-width: 90%; */
    /* margin-bottom: 50px; */
    /* margin-top: 20px; */
    gap: 24px;
  }

  .card-farmer__container-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-homefarmer__button {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


}

/*@media (width < 1320px) {
  .card-home__container {
    grid-template-columns: repeat(3, 1fr);
    max-width: 90%;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}*/

@media (width > 1024px) {
  .card-farmer__container-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px;
    max-width: 1920px;
    margin-bottom: 70px;
  }

  .card-farmer__container {
    grid-template-columns: repeat(3, 1fr);
    /* width: max-content; */
    /* margin: 24px; */
  }
} 

@media (width > 1280px) {
  .card-farmer__container-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    padding: 24px;
    max-width: 1920px;
    margin-bottom: 70px;
  }

  .card-farmer__container {
    grid-template-columns: repeat(4, 1fr);
    width: auto;
    /* margin: 24px; */
  }

  .card-farmer__img {
    justify-self: center;
    /* width: 150px; */
  }
} 