.card-public__container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 24px; */
  width: auto;
  margin: 24px;
}

/* Contenedor que organiza las cards en grilla */
.card-public__container {
  display: grid;
  gap: 24px;
  width: 100%;
  justify-content: center;
}

/* === Card === */
.card-public {
  background-color: var(--white);
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-public:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 1);
}

/* Imagen de la card */
.card-public__img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-public__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

/* Texto dentro de la card */
.card-public__price {
  font-size: var(--fs-sm);
  color: var(--black);
  font-weight: 600;
  margin-bottom: 8px;
}

.card-public__name {
  font-size: var(--fs-xs);
  font-weight: 500;
  color: var(--primary-700);
  margin-bottom: 16px;
}
.card-public__button{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
/* === Botón === */
.card-public__button-one {
  width: max-content;
  height: 40px;
  background: linear-gradient(135deg, var(--primary-500), var(--primary-700));
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  /* Material Design spacing */
  height: 40px;
  font-size: var(--fs-xs);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card-public__button-one:hover {
  background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card-public__button-one:active {
  background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
  transform: scale(0.98);
}


.card-public__button-two {
  width: max-content;
  background-color: var(--gray-600);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 9px 16px;
  height: 36px;
  font-size: var(--fs-xs);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card-public__button-two:hover {
  opacity: 60%;
  transform: scale(1.02);
}

.card-public__button-two:active {
  opacity: 60%;
  transform: scale(0.98);
}

@media (width > 640px) {
  .card-public__container-section {
    margin: 0;
  }

  .card-public__container {
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    padding: 24px;
  }

  .card-public__button{
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (width > 1024px) {
  .card-public__container {
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }
}

@media (width > 1280px) {
  .card-public__container {
    grid-template-columns: repeat(4, 1fr);
    width: auto;
  }
}