/* 

    footer {
      position: static;   
      bottom: 0;        
      left: 0;
      width: 100%;    
      background-color: var(--primary-100);
      color: var(--primary-800);
      text-align: center;
      padding: 10px;
      font-size: var(--fs-xxxs);
    }

    .footer__container {
      display: grid;
      grid-template-columns: 1fr auto 1fr; 
      align-items: center;
      text-align: center;
    }

    .footer__copy {
      grid-column: 2; 
      font-weight: bold;
    }

    .footer__social {
      grid-column: 3; 
      display: flex;
      justify-content: center; 
      gap: 10px;
    }

    .footer__social-link {
      text-decoration: none;
      color: var(--primary-800);
      font-size: 14px;
      position: relative;
    }

    
    .footer__social-link:not(:last-child)::after {
      content: "|";
      margin-left: 8px;
      color: var(--black);
    }

    .footer__social-link:hover {
      text-decoration: underline;
    }
  
  @media (max-width: 1024px) {
  .footer__container {
    grid-template-columns: 1fr 1fr; 
  }

  .footer__copy {
    grid-column: 1 / span 2; 
    margin-bottom: 5px;
  }

  .footer__social {
    grid-column: 1 / span 2; 
    justify-content: center;
  }
}


@media (max-width: 600px) {
  .footer {
    font-size: var(--fs-xs);
    padding: 8px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .footer__social {
    gap: 6px;
  }

  .footer__social-link {
    font-size: 12px;
  }

  .footer__social-link:not(:last-child)::after {
    content: ""; 
  }
} */