/* === FOOTER PRINCIPAL === */
.footer-content {
  height: 10vh;  
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  background-color: var(--gray-100);
  color: var(--primary-800);
  font-size: var(--fs-xxxs);
  text-align: center;
  padding: 8px 16px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* === ELEMENTOS === */
.footer__copy {
  grid-column: 2;
  font-weight: 600;
  font-size: var(--fs-xxxs);
}

.footer__social {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer__social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer__social-text {
  font-size: var(--fs-xxxs);
  padding: 4px;
  font-weight: 500;
}

.footer__social-icon {
  width: 24px;
  height: 24px;
  display: block;
  object-fit: contain;
  position: relative;
}

.footer__social-icon--sena {
  width: 34px;
  height: 34px;
  object-fit: contain;
  transform-origin: center;
  filter: brightness(0) saturate(100%) invert(49%) sepia(97%) saturate(541%) hue-rotate(77deg) brightness(96%) contrast(101%);
}

.footer__social-icon:not(:last-child)::after {
  content: "|";
  margin-left: 8px;
  color: var(--black);
}

/* === HOVER === */
.footer__social-icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

/* === BREAKPOINTS === */

/* sm - Teléfonos grandes (≤640px) */
@media (max-width: 640px) {
  .footer-content {
    font-size: var(--fs-xs);
    padding: 8px;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
  }

  .footer__copy {
    order: 2;
  }

  .footer__social {
    order: 1;
    flex-direction: row;
    gap: 8px;
  }

  .footer__social-icon--sena {
    width: 30px;
    height: 30px;
  }

  .footer__social-icon:not(:last-child)::after {
    content: "";
  }
}

/* Tablets (≤768px) */
@media (max-width: 768px) {
  .footer-content {
    font-size: var(--fs-xs);
    padding: 10px;
  }
}

/* Laptops (≤1024px) */
@media (max-width: 1024px) {
  .footer-content {
    grid-template-columns: 1fr 1fr;
  }

  .footer__copy {
    grid-column: 1 / span 2;
  }

  .footer__social {
    grid-column: 1 / span 2;
    justify-content: center;
  }
}

/* Desktop (≤1280px) */
@media (max-width: 1280px) {
  .footer-content {
    font-size: var(--fs-xxs);
  }
}

/* Pantallas grandes (≤1536px) */
@media (max-width: 1536px) {
  .footer-content {
    font-size: var(--fs-xxxs);
  }
}
