  /* .forgot-password__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-color: var(--white);
    font-family: var(--main-font);
  }


.forgot-password__hero-description,
.forgot-password__hero-subtitle {
  font-size: var(--fs-md);
  color: var(--white);
}


.forgot-password__card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background: var(--overlay-dark-strong);
  border-radius: 12px;
  box-shadow: 0px 4px 10px var(--gray-800);
  text-align: center;
  width: auto;
  height: auto;
  border: 1px solid var(--black);
  margin: 0 24px;

}

.forgot-password__title {
  font-size: var(--fs-md);
  font-weight: 600;
  color: var(--primary-800);
  margin-bottom: 30px;
}

.forgot-password__description {
  font-size: var(--fs-xs);
  margin: 24px 0;
  color: var(--white);
}

.forgot-password__input {
  width: auto;
  margin: 0 24px;
  height: 56px;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-800);
  font-size: var(--fs-xs);
}

.forgot-password__input:hover {
  border-color: var(--primary-800);
  box-shadow: 0 0 4px var(--gray-800);
}

.forgot-password__btn {
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  border-radius: 8px;
  border: none;
  margin: 0 0 24px 0;
  background-color: var(--primary-800);
  color: var(--white);
  font-size: var(--fs-xs);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.forgot-password__btn:hover {
  background-color: var(--primary-900);
}
.forgot-password__back{
  font-weight: 600;
  position: fixed;
  top: 16px;
  left: 16px;
  background-color: var(--primary-700);
  border-radius: 4px;
  padding: 9px 16px;
  height: 36px;
  font-size: var(--fs-xs);
  color: var(--white);
  text-decoration: none;
  transition: background-color .2s ease;
}
.forgot-password__back:hover{
  background-color: var(--primary-600);
}

@media (max-width: 768px) {
    .page__left_forgotpassword {
        display: none; 
    }

    .page__right_forgotpassword {
        width: 100%;   
        margin-left: 0; 
    }
}


@media (max-width: 1280px) and (min-width: 1024px) {
  .page__left_forgotpassword {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-image: url("/frontend/public/assets/background/forgot-pasword.jpeg");
    background-size: cover;
    background-position: center;
  }
  .page__right_forgotpassword {
      margin-left: 50%;
      padding: 0;
      width: 50%;
      min-height: 100vh;
      height: auto;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
  }

  .forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    font-family: var(--main-font);
  }

  .forgot-password__container {
    display: flex;
    width: 100%;
    height: 100vh;
  }


  .forgot-password__hero-container {
    background-color: rgb(0 0 0 / 40%);
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
 */
 .container-forgot__password {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* arriba y centro */
  box-sizing: border-box;
}


.register__back {
  align-self: flex-start; /* lo manda a la izquierda */
}

.login-container__card {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* ocupa todo el espacio vertical restante */
}

 .forgot-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--white);
  /* font-family: var(--main-font); */
  margin-left: auto;
  /* margin-right: auto; */
  /* padding: 12px 24px; */
  width: 100%;
}

.forgot-password__container {
  display: flex;
  /* height: 100vh; */
  margin: 24px;
}




.forgot-password__hero-description,
.forgot-password__hero-subtitle {
  font-size: var(--fs-sm);
  color: var(--white);
  font-weight: 600;
}

.forgot-password__label {
    color: var(--gray-200);
    display: block;
    font-size: var(--fs-xxxs);
    font-weight: bold;
}

.forgot-password__group{
    display: flex;
    gap:4px;
    flex-direction: column;
    align-items: flex-start;
}

.forgot-password__card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--overlay-dark-strong);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 4px 10px var(--gray-800);
  text-align: center;
  width: 100%;
  height: auto;
  border: 1px solid var(--black);
  margin: 24px;
}

.forgot-password__title {
  font-size: var(--fs-md);
  font-weight: 600;
  color: var(--primary-800);
  margin: 12px;
  margin-bottom: 30px;
}

.forgot-password__description {
  font-size: var(--fs-xs);
  /* margin-bottom: 20px; */
  color: var(--white);
}

.forgot-password__input {
  /* min-width: 320px; */
  width: 100%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  height: 56px;
  padding: 0 16px;
  border-radius: 8px;
  border: 1px solid var(--gray-800);
  /* margin-bottom: 15px; */
  font-size: var(--fs-xs);
  outline: none;
}

.forgot-password__input:hover {
  border-color: var(--primary-800);
  box-shadow: 0 0 4px var(--gray-800);
}

.forgot-password__btn {
  margin: 0 auto;
  width: max-content;
  padding-bottom: var(--padding-bottom);
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, var(--primary-500), var(--primary-700));
  color: var(--white);
  font-size: var(--fs-xs);
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.forgot-password__btn:hover {
  background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.forgot-password__back{
  position: fixed;
  top: 16px;
  left: 16px;
  background-color: var(--gray-600);
  border-radius: 4px;
  padding: 8px 16px;
  height: 36px;
  font-size: var(--fs-xs);
  color: var(--white);
  text-decoration: none;
  transition: background-color .2s ease;
}
.forgot-password__back:hover{
  opacity: 60%;
}

@media (width > 640px){
  .forgot-password__input{
    width: 320px;
  }
  .forgot-password__card {
    width: max-content;
  }

}

@media(width > 1024px){
  .forgot-password__hero-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  .page__left_forgotpassword {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background: linear-gradient(var(--overlay-dark), var(--overlay-dark)), url(/frontend/public/img/farmer.jpg);
    background-size: cover;
    background-position: center;
}
  .page__right_forgotpassword {
    margin-left: 50%;
    width: 50%;
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

}