.input-group{
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-left__unit-measure{
  display: none;

}
.page-right__unit-measure {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .container-unit-measure {
    display: flex;
    flex-direction: column;
    color: var(--black);
    height: auto;
    /* width: 100%; */
    margin: 24px;
    padding: 20px;
    border: 1px solid var(--gray-300);
    border-radius: 12px;
    text-align: center;
    font-family: var(--font-primary);
    background: var(--overlay-dark);
    gap: 12px;
  }

  .container-unit-measure__title {
    font-size: var(--fs-sm);
    font-weight: bold;
    /* margin-bottom: 8px; */
    color: var(--white);
  }

  .container-unit-measure__description {
    font-size: var(--fs-xs);
    color: var(--white);
  }

  /* Grupo de input */
  .container-unit-measure__form {
    display: flex; 
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; 
  }

  /* Campos */
  .container-unit-measure__form-amount {
    flex: 1;
    width: 100%;
    padding: 12px;
    font-size: var(--fs-xs);
    border: 1px solid var(--black);
    border-radius: 12px;
    box-sizing: border-box;
  }
.container-unit-measure__form-amount:focus{
    border-color: var(--primary-700);
    box-shadow: 0 0 0 4px rgba(19,102,255,0.06);
    outline: none;
    
    
  }
  
.container-unit-measure__button{
  margin: 0 auto;
  width: max-content;
  background: linear-gradient(135deg, var(--primary-500), var(--primary-700));
  color: var(--white);
  padding: 12px 2rem;
  font-size: var(--fs-xs);
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.3s ease;
  }

.container-unit-measure__button:hover{
  background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.container-unit-measure__back{
  position: fixed;
  top: 16px;
  left: 16px;
  background-color: var(--gray-600);
  border-radius: 4px;
  padding: 9px 16px;
  height: 36px;
  font-size: var(--fs-xs);
  color: var(--white);
  text-decoration: none;
  transition: background-color .2s ease;
}
.container-unit-measure__back:hover{
  opacity: 60%;
}
@media(width > 640px){
  .container-unit-measure{
    width: max-content;
  }
  .container-unit-measure__form-amount{
    width: 400px;
  }
}

@media (width > 768px){
    .page-right__unit-measure{
    position: relative;
    margin:0 0 0 50%;
    width:50%;
    min-height:100vh;
    color: var(--black);
    height:100vh;
    overflow-y:auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    /* padding:0 40px; */
  }
  .page-left__unit-measure{ 
    display:none; 
  }
.container-unit-measure__form-amount{
  width: 320px;
}
  .page-left__unit-measure {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 50%;
    height: 100dvh;   /* altura del viewport dinámico real */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
      linear-gradient(var(--overlay-dark), var(--overlay-dark)), 
      url("/frontend/public/img/huerto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.page-left__unit-measure__title{
  font-size: var(--fs-sm);
  font-weight: 600;
  text-align: center; 
}

  
}
