.contact{
    min-height: 75vh;
    text-align: center;
    display: flex;
    gap: 2px;
    flex-direction: column;
    padding: 24px;
    justify-content: center;
}
.contact-title{
    display: none;
}

.contact-form {
    /* min-height: 90vh; */
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid var(--gray-300);
    border-radius: 10px;
    background: var(--overlay-dark-strong);
    font-family: var(--main-font);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    gap: 24px;
}

.contact-form__content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
/* Título */
.contact-form__title {
    text-align: center;
    color: var(--white);
    font-size: var(--fs-sm);
    font-weight: bold;
}

.contact-form__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-form__group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.contact-form__label {
    text-align: start;
    margin: 0 0 0 10px;
    font-size: var(--fs-xxxs);
    font-family: var(--main-font);
    color: var(--gray-200);
}


.contact-form__input,
.contact-form__textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    padding: 16px;
    border: 1px solid var(--gray-900);
    border-radius: 10px;
    font-size: var(--fs-xs);
    box-sizing: border-box;
}


.contact-form__textarea {
    resize: vertical;
    min-height: 30px;
    font-family: var(--main-font);
}

.contact-form__button {
    font-weight: 600;
    width: 30%;        
    margin: 1px auto; 
    padding: 8px 16px;
    background: linear-gradient(135deg, var(--primary-500), var(--primary-700));
    border: none;
    border-radius: 8px;
    font-size: var(--fs-xs);
    cursor: pointer;
    color: var(--white);
    transition: background 0.3s ease;
}

.contact-form--row-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-form--row-buttons__send{
    background: linear-gradient(135deg, var(--primary-500), var(--primary-700));
    color: var(--white);
    padding: 12px 24px;
    font-size: var(--fs-xs);
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.3s ease;
    height: 40px;
}

.contact-form--row-buttons__back{
    background-color: var(--gray-700);
    color: var(--white);
    padding: 12px 24px;
    font-size: var(--fs-xs);
    text-decoration: none;
    border-radius: 12px;
}

.contact-form__button:hover {
    background: linear-gradient(135deg, var(--primary-600), var(--primary-500));
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


@media (width > 640px) {
    .contact-form-container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }
    .contact-form__input,
    .contact-form__textarea{
        width: 400px;
    }

    .contact-form {
        width: 100%;
        max-width: max-content;
        margin: 0;
        padding: 16px;
    }
   
}

@media(width > 1024px){
    .contact-form__container{
        flex-direction: row;
    }
    .contact-form__input{
        height: 56px;
    }
    .contact-form__textarea{
        width: 100%;
        height: 56px;
    }

    .contact-form__button {
        width: 30%;
        height: 48px;
        font-size: var(--fs-xs);
        padding: 8px 16px;
        border-radius: 8px;
    }
}