.govco-content {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 7vh;
  padding: 24px;
  color: var(--white);
  background-color: var(--terciary-450);
}

.gov__img {
  height: 2rem;
}