.govco-content {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 4vh;
  min-height: 40px;
  padding: 6px 20px;
  color: var(--white);
  background-color: var(--terciary-450);
}

.gov__img {
  height: 2rem;
}