.header{
    background-color: var(--primary-50);
    padding: 18px;
    margin-top: -6px;
    height: auto;
}

.navbar__title{
  font-family: var(--main-font);
  color: var(--primary-800);
  font-size: var(--fs-md);
  font-family: var(--font-primary);
  text-align: center;
  padding: 0px 24px;
}

.navbar__subtitle{
  font-family: var(--main-font);
  color: var(--black);
  font-size: var(--fs-sm);
  font-family: var(--font-primary);
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  padding: 0;
}


@media (width > 768px) {
  .navbar__title {
    margin: 0;
    padding: 12px 24px;
    font-size: var(--fs-sm) ; 
  }

  .navbar__subtitle {
    font-size: var(--fs-xxxs);
    margin: 0;
    padding: 0 12px;
    /* margin-bottom: 15px; */
  }

  .header {
    padding: 12px; /
  }
}



