body{
  margin: 0;
}

.header-admin{
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--main-font);
  padding: 12px;
  position: static;
  top: 0px;
  width: 100%;
  background:var(--primary-700);
  height: auto;

}

.header-admin__title{
  margin: 0 24px;
  color: var(--white);
  text-align:center;
  font-size:var(--fs-md);
  margin: 0;
  color: var(--white);
  text-align:center;
  font-size:var(--fs-sm);
}

.header-admin__subtitle{
    padding:10px;
    color: var(--white);
    text-align:center;
    font-size:var(--fs-xs);
    /* font-family: var(--main-font) */
    margin: 0;
    
}
