@import url(sidebar.css);
@import url('components/forloggin.css');
@import url(components/hero.css);
@import url(components/informacion_perfil.css);
@import url('components/update_perfil.css');
@import url('components/update_shop.css');
@import url(components/usuarios_admin.css);
@import url(components/tabla_usuarios_admin.css);
@import url('components/navbar.css');
@import url(components/card-home.css);
@import url(components/card-home-farmer.css);
@import url(components/card-vegetables.css);
@import url(components/card-dairy.css);
@import url(components/search.css);
@import url(components/search_interface_farmer.css);
@import url(components/from.css);
@import url(components/form_reset_password.css);
@import url(components/form_contact.css);
@import url(components/card-public.css);
@import url(components/card_options_farmer.css);
@import url(components/card-available.css);
@import url(components/navbar-disable.css);
@import url(components/navbar-home.css);
@import url(components/navbar-public.css);
@import url(components/navbar-method-payment.css);
@import url(components/navbar-available.css);
@import url(components/navbar_contact.css);
@import url(components/card-disable.css);
@import url(header_admin.css);
@import url('reset.css');
@import url('layout.css');
@import url('components/form_contact.css');
@import url('components/form_subir_producto.css');
@import url('components/forms.css');
@import url('components/shopping_car.css');
@import url('components/buttonBack.css');
@import url('components/register.css');
@import url('components/comment_bar.css');
@import url('components/card-description-product.css');
@import url('components/tableOrder.css');
@import url('components/list-home.css');
@import url('pages/home.css');
@import url('themes/dark-mode.css');
@import url(components/form_unidad_medida.css);
@import url(components/from-method_payment.css);
@import url(components/forgot-password.css);
@import url(components/unit-measure.css);
@import url('variables.css');
@import url('components/footer.css');
@import url('components/footer_interface.css');
@import url('components/interface_farmer.css');
@import url('components/interface_option_farmer.css');
@import url('components/profile.css');
@import url('forloggin.css');
@import url('components/update_perfil.css');
@import url('layout.css');
@import url('components/sidebar.css');
@import url('components/header_admin.css');
@import url('components/search_admin_users.css');
@import url('components/toolbar.css');
@import url('components/users_table.css');
@import url('components/toolbar_products.css');
@import url('components/search_admin_products.css');
@import url('components/products_table.css');
@import url('components/card_information_admin.css');
@import url('components/toolbar_orders.css');
@import url('components/search_admin_orders.css');
@import url('components/orders_table.css');
@import url('components/toolbar-home.css');
@import url('components/home_table.css');
@import url('components/card_admin_home.css');
@import url('components/search_home.css');
@import url('components/');
@import url('components/create-shop.css');
@import url('components/create-perfil-farmer.css');
@import url('components/mensajes_farmer.css');
@import url('components/mensajes_sends.css');
@import url('components/my_orders.css');
@import url('components/update-product.css');
@import url('components/generate-user_report.css');
@import url('components/review_product_farmer.css');
@import url('components/profile_shop.css');
@import url('components/store_admin.css');
@import url('components/shop-detail-admin.css');
@import url('components/generate-product_report.css');
@import url('components/generate-order_report.css');
@import url('components/generate-shop-report.css');
@import url('components/toolbar_shop.css');
@import url('components/gov-co.css');

