.contact-home {
  position: static;
  /* background-color: var(--primary-50); */
  top: 0;
}

.contact-home__title{
  color: var(--primary-800);
  font-size: var(--fs-lg);
  font-family: sans-serif;
  text-align: center;
  margin: 0
}

.contact-home__subtitle{
  color: var(--gray-900);
  font-size: var(--fs-sm);
  font-family: var(--main-font);
  text-align: center;
  padding: 0;
  margin: 10px;
  padding-bottom: 10px;
}

.contact-home__navbar {
  min-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-800);
  padding: 10px 20px;
  flex-wrap: wrap;
  width: 100%;
}
.contact__form{
  min-height: 80vh;
}

.contact-home__group {
  display: flex;
}

.contact-home__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 12px;
  font-size: var(--fs-xs);
}

.contact-home__link {
  color: var(--white);
  text-decoration: none;
  font-weight: medium;
  font-size: var(--fs-xs);
}

.contact-home__menu svg {
    cursor: pointer;
    transition: transform 0.3s ease, fill 0.3s ease;
}

@media (width > 640px) {
  .contact-home__list {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 40;
    flex-grow: 1;
    justify-content: flex-end;

  }
  .contact-home__navbar{
    justify-content: flex-end;
    height: 10vh;
    min-height: 0;
  }

}













