/* ====== CONTENEDOR DE TABLAS ====== */
.table-container {
  background: var(--white);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 6px  var(--gray-100);
}

/* ====== TABLA DE PEDIDOS ====== */
.orders-table {
  color: var(--black);
  width: auto;
  margin-bottom: 30px; 
  border-collapse: collapse;
  background: var(--white);
  box-shadow: 0 4px 12px var(--gray-100);
  font-size: var(--fs-xxxs);
  border-radius: 12px;
  overflow: hidden;
}
.table-orders{
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
  }

.orders-table__header,
.orders-table__cell {
  font-size: var(--fs-xxxs);
  padding: 10px 12px;
  text-align: center;
}

.orders-table__header {
  background-color: var(--white);
  color: var(--black);
  font-weight: 600;
  text-transform: uppercase;
  font-size: var(--fs-xxxs);
  text-align: center;
}

.orders-table__row:nth-child(even) {
  background-color: var(--gray-50);
}

.orders-table__row:hover {
  background-color: var(--terciary-100);
}

.orders-table__cell--status,
.orders-table__cell--message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders-table__cell--actions {
  display: flex;
  flex-direction: row; /* 🔹 botones uno debajo del otro */
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin:5px;
}

/* ====== ESTADOS ====== */
.orders-table__status-completed {
  width: 85px;
  display: inline-block;
  margin: 10px;
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 12px;
  background-color: var(--primary-200);
  text-align: center;
  color: var(--black);
}

.orders-table__status-earring {
  text-align: center;
  width: 85px;
  margin: 10px;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 12px;
  background-color: var(--gray-200);
  color: var(--black);
}

/* ====== BOTONES ====== */
.orders-table__button--edit,
.orders-table__button--rastrear {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s, background 0.3s;
  color: var(--white);
}

.orders-table__button--edit {
  /* background-color: var(--terciary-400); */
  color: var(--black);
}

.orders-table__button--rastrear {
  /* background-color: var(--primary-600); */
  color: var(--black);
}

.orders-table__button--edit:hover,
.orders-table__button--rastrear:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

/* ====== ICONOS ====== */
.orders-table__icon {
  width: 24px;
  height: 24px;
}


/* tablets */
@media (width >  640px) {
  .orders-table{
    width: 100%;
    margin: 0;
  }
}

/* laptops */
@media (width > 768px) {
  .table-orders{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    scrollbar-width: none; /* Firefox */

    /* margin: 0 24px; */
  }
}

@media (width > 1280px) {
  .orders-table{
    width: 80%;
    margin: 0;
  }
  .table-orders{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .orders-table__cell-status{
    text-align:center;
  }
  

}
