.toolbar-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  gap: 24px;
}

.toolbar-products__content{
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: var(--gray-100);
}

.toolbar-products__button {
  width: 100%;
  font-weight: 600;
  height: 40px;
  width: 100%;
  font-size: var(--fs-xs);
  padding: 0px 16px;
  border: none;
  border-radius: 12px;
  color: var(--primary-700);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.toolbar-products__button:hover{
  transform: scale(1.2); 
  background-color: var(--primary-800);
  color: var(--white);
}

.toolbar-products__row-icons {
  flex-direction: row;
  display: flex;
  gap: 24px;
}
.toolbar-products__icon {
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  /* background-color: var(--white); */
  align-content: space-around;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  transition: transform 0.3s ease;
  
}
.toolbar-products__icon:hover{
  transform: scale(1.2); 
  background-color: var(--primary-800);
}
.toolbar-products__icon-img {
  filter: invert(1);
  width: 24px;
  height: 24px;
}


/* tablet */
@media (width > 640px) {
  .toolbar-products__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
  .toolbar-products__button {
    width: max-content;
    max-width: 200px;
    font-weight: 500;
  }
  .toolbar-products__search {
    /* max-width: 150px; */
    padding: 8px 12px;
  }
  .toolbar-products__row-icons {
    gap: 24px;
  }
}
