.toolbar-orders{
    display:flex;
    flex-direction: column;
    /* gap: 20px; */
    align-items: center;
    background-color: var(--gray-100);
    gap: 24px;
    /* margin: 24px; */
    padding:  12px;
}

.toolbar-orders__content{
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--gray-100);
  /* gap: 24px; */
}

.toolbar-orders__row-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.toolbar-orders__button{
  /* width: 100%; */
  font-weight: 500;
  /* background-color: var(--gray-100); */
  height: 40px;
  font-size:var(--fs-xs);
  padding: 0 16px;
  border: none;
  border-radius:12px;
  color: var(--primary-700);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.toolbar-orders__button:hover{
  transform: scale(1.2); 
  background-color: var(--primary-800);
  width: max-content;
  color: var(--white);
}

.toolbar-orders__row-icons {
  flex-direction: row;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.header-home__group--left{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar-orders__icon {
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  /* background-color: var(--white); */
  align-content: space-around;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.toolbar-orders__icon:hover{
  transform: scale(1.2); 
  background-color: var(--primary-800);
}
.toolbar-orders__icon-img {
  filter: invert(1);
  width: 24px;
  height: 24px;
}

.header-orders__group {
  display: flex;
  width: 100%;
  gap: 8px;
  flex-direction: column;
}

/* tablet */
@media (width > 640px) {
  .header-home__group--left{
    width: 50%;
  }
  .toolbar-orders__content{
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
  }
  .toolbar-orders__row-icons {
    flex-direction: row;
  }
  .header-orders__group{
    flex-direction: row;
  }
  .toolbar-orders__row-buttons{
    flex-direction: row;
  }


@media (width > 768px) {
  .toolbar-orders__content{
    flex-direction: row;
    justify-content: space-between;
  }
  
  .toolbar-orders__row-buttons{
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    gap: 8px;
  }
  .toolbar-orders__button{
    /* max-width: 190px; */
    width: max-content;
  }
}

