.unit-measure__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 900px;
    height: 450px;
    margin: 40px auto;
    border: 1px solid var(--black);
    border-radius: 12px;
    padding: 20px;
    background: var(--white);
}
.unit-measure {
    flex: 0 0 320px;
    border: 1px solid var(--black);
    border-radius: 8px;
    background-color: var(--white);
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.unit-measure__title {
    text-align: center;
    font-size: var(--fs-sm);
    margin: 0;
    padding: 12px;
    font-weight: bold;
    color: var(--black);
}

.unit-measure hr {
    border: 1px solid var(--black);
    width: 100%;
}

.unit-measure__form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 12px;
}

.unit-measure__form label {
    font-size: var(--fs-xs);
    cursor: pointer;
    color: var(--black);
}
