{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar producto</title>
    <link rel="icon" href="{% static 'icons/planta.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/components/gov-co__one.js' %}"></script>
    <script src="{% static 'js/components/gov-co__two.js' %}"></script>
    <script src="{% static 'js/components/create_product.js' %}" defer></script>
</head>
<body>
    <div class="govco-container__one">
        {% include 'components/gov-co__one.html' %}
    </div>

    <header class="navbar-container"></header>

    {% include 'tiendas/components/navbar-store.html' %}

    <div class="producto-form__body">
        {% include 'productos/components/create_product.html' %}
    </div>

    <footer class="footer-container"></footer>

    <div class="govco-container__two">
        {% include 'components/gov-co__one.html' %}
    </div>
</body>
</html>
