{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% if shop_success %}
<div class="reset-success-overlay">
    <div class="reset-success-alert">
        Tu tienda fue creada exitosamente.<br><br>
        Para continuar, inicia sesion nuevamente con tu usuario y contrasena.<br><br>
        Si deseas completar o actualizar la informacion de tu tienda, ingresa a la seccion Perfil.<br><br>
        <a href="{% url 'usuarios:login' %}" class="form-shop__button">Continuar</a>
    </div>
</div>
{% endif %}

<div class="form-shop__content">
    <div class="form-shop__container">
        <div class="shop">
            <h2 class="form-shop__subtitle">Crea tu tienda</h2>
            <div class="form-shop">
                <form id="create-shop-step2-form" method="POST" class="form-shop__body">
                    {% csrf_token %}

                    {% if error_horario %}
                        <div class="input-error" style="display: block;">{{ error_horario }}</div>
                    {% endif %}

                    <div class="form-shop__group">
                        <label for="hora_apertura" class="form-shop__label">Hora de apertura</label>
                        <input type="time" id="hora_apertura" class="form-shop__input" name="hora_apertura" required>
                        <div id="error-hora-apertura" class="input-error" style="display: none;"></div>
                    </div>

                    <div class="form-shop__group">
                        <label for="hora_cierre" class="form-shop__label">Hora de cierre</label>
                        <input type="time" id="hora_cierre" class="form-shop__input" name="hora_cierre" required>
                        <div id="error-hora-cierre" class="input-error" style="display: none;"></div>
                    </div>

                    <div class="form-shop__group">
                        <label for="url" class="form-shop__label">Dirección</label>
                        <input type="text" class="form-shop__input" name="direccion" placeholder="Escribe la dirección" required>
                    </div>

                    <div class="form-shop__textarea">
                        <label for="message" class="form-shop__label">Descripcion breve de la tienda (opcional)</label>
                        <textarea type="message" class="form-shop__description" name="descripcion" placeholder="Descripcion breve de la tienda"></textarea>
                    </div>
                </form>
                <div class="form-content__register--row-buttons">
                    <a href="{% url 'tiendas:create_shop_step1' %}" class="form-content__register--row-buttons__back">Volver</a>
                    <button type="submit" form="create-shop-step2-form" class="form-shop__button">Crear tienda</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'Tiendas/js/components/create-shop2.js' %}" defer></script>
