{% load static %}

<div class="product-form__content">
  <div class="product-form__container">
    <h2 class="product-form__subtitle">Subir producto</h2>
  </div>
  <div class="product-form">
    <div class="product-form__group-file__photo">
      <img src="{% static 'img/not-found.png' %}" alt="foto de Producto cargada" class="product-form__img">

      <label for="input-foto" class="profile-update__label--file">
        Elegir foto
      </label>
      <input id="input-foto-producto" class="profile-update__input profile-update__input--file" type="file" name="foto" />
    </div>

    <div class="product-form__fields">
      <form onsubmit="mostrarAlerta()" class="product-form__body">
        <div class="product-form__group">
          <label for="nombre" class="product-form__label">Nombre del producto</label>
          <input type="text" class="product-form__input" placeholder="Ej: Tomates frescos" required>
        </div>

        <div class="product-form__group">
          <label for="tipo" class="product-form__label">Tipo de producto</label>
          <input type="text" class="product-form__input" placeholder="Ej: Verdura, fruta..." required>
        </div>

        <div class="product-form__group">
          <label for="cantidad" class="product-form__label">Cantidad</label>
          <input type="number" class="product-form__input" placeholder="Ej: 50" required>
        </div>
      </form>
    </div>
  </div>

  <div class="product-form__row ">
    <a href="{% url 'tiendas:interface_farmer' %}" class="product-form__row--back">Volver</a>
    <a href="#" class="product-form__row--next">Siguiente</a>
  </div>
</div>
