<div class="product-form__content">
  <div class="product-form__container">
    <h2 class="product-form__subtitle">Subir producto</h2>
  </div> 

  <div class="product-form2">
    <form id="create-product-step2-form" class="product-form__body2">
      
      <div class="product-form__group">
        <label for="precio" class="product-form__label">Precio</label>
        <input id="precio-producto" name="precio" type="number" min="0.01" step="0.01" class="product-form__input" placeholder="Ej: 20.00" required>
        <div id="error-precio-producto" class="input-error" style="display: none;"></div>
      </div>

      <div class="product-form__group">
        <label for="descripcion" class="product-form__label">Descripción</label>
        <input id="descripcion-producto" name="descripcion" type="text" class="product-form__input" placeholder="Breve descripción del producto" required>
        <div id="error-descripcion-producto" class="input-error" style="display: none;"></div>
      </div>

      <div class="product-form__group">
        <label for="garantia" class="product-form__label">Garantía</label>
        <input id="garantia-producto" name="garantia" type="text" class="product-form__input" placeholder="Garantía que ofreces del producto" required>
        <div id="error-garantia-producto" class="input-error" style="display: none;"></div>
      </div>
      
      <div class="product-form__group">
        <label for="metodo-pago" class="product-form__label">Método de pago</label>
        <select id="metodo-pago" name="metodo-pago" class="product-form__input" required>
          <option value="">-- Selecciona --</option>
          <option value="contado">Pago de contado</option>
          <option value="entrega">Pago contra entrega</option>
          <option value="transferencia">Transferencia</option>
        </select>
      </div>

      <div class="product-form__group">
        <label for="metodo-entrega" class="product-form__label">Método de entrega</label>
        <select id="metodo-entrega" name="metodo-entrega" class="product-form__input" required>
          <option value="">-- Selecciona --</option>
          <option value="domicilio">Envío a domicilio</option>
          <option value="tienda">Recogido en tienda</option>
          <option value="cita">Entrega bajo cita</option>
        </select>
      </div>

    </form>
  </div>
      <!-- Botones -->
      <div class="product-form__row">
        <a href="{% url 'tiendas:create_product' %}" class="product-form__row--back">Volver</a>
        <a id="btn-publicar-producto" href="#" class="product-form__row--next">Publicar Producto</a>
      </div>
</div>

