{% load static %}

<nav class="navbar navbar--store">
  <div class="header-home__group header-home__group--left">
    <h1 class="header-home__title">Agrophia</h1>
    <img src="{% static 'icons/planta.png' %}" alt="Icon principal">
  </div>
  <div class="header-home__group header-home__group--right">
    <div class="navbar__mobile-select">
      <details>
        <summary class="navbar__mobile-trigger" aria-label="Abrir menú">
          <img src="{% static 'icons/menu.svg' %}" alt="Menú" class="navbar__mobile-trigger-icon">
        </summary>
        <ul class="navbar__mobile-options">
          <li><a href="{% url 'tiendas:interface_farmer' %}">Inicio</a></li>
          <li><a href="{% url 'mensajes:farmer_messages' %}">Mensajes</a></li>
          <li><a href="{% url 'tiendas:profile_shop' %}">Perfil</a></li>
          <li><a href="{% url 'usuarios:logout' %}">Cerrar sesión</a></li>
        </ul>
      </details>
    </div>

    <div class="navbar__group navbar__group--right">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="{% url 'tiendas:interface_farmer' %}" class="navbar__link">Inicio</a>
        </li>
        <li class="navbar__item">
          <a href="{% url 'mensajes:farmer_messages' %}" class="navbar__link">Mensajes</a>
        </li>
        <li class="navbar__item">
          <a href="{% url 'usuarios:logout' %}" class="navbar__link">Cerrar sesión</a>
        </li>
        <li class="navbar__item navbar__item--icon">
          <a href="{% url 'tiendas:profile_shop' %}" class="navbar__link navbar__link--icon">
            <img src="{% static 'icons/user.svg' %}"
                  alt="Perfil de usuario"
                  class="navbar__icon"
                  width="24"
                  height="24">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
