
{% load static %}

<!DOCTYPE html>

<html lang="es">

<head>
    
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Editar producto (Admin)</title>
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/editar_producto_admin.css' %}">

</head>

<body style="background: #f8fafc;">
    
    {% include 'administrador/componentes/producto_editar_card.html' %}

</body>

</html>
