<table class="products-table">
  <thead class="products-table__head">
    <tr class="products-table__row products-table__row--head">
      <th class="products-table__header">Nombre</th>
      <th class="products-table__header">Código</th>
      <th class="products-table__header">Categoría</th>
      <th class="products-table__header">Precio</th>
      <th class="products-table__header">Estado</th>
      <th class="products-table__header">Acciones</th>
    </tr>
  </thead>

  <tbody class="products-table__body">
    <tr class="products-table__row">
      <td class="products-table__cell">Manzana</td>
      <td class="products-table__cell">01</td>
      <td class="products-table__cell">Fruta</td>
      <td class="products-table__cell">Precio</td>

      <!-- ESTADO centrado -->
      <td class="products-table__cell products-table__cell--status">
        <span class="products-table__status products-table__status--active">Activo</span>
      </td>

      <!-- ACCIONES en columna -->
      <td class="products-table__cell products-table__cell--actions">
        <button class="products-table__button products-table__button--block">
          <img src="/frontend/public/icons/lock.svg" alt="Bloquear" class="products-table__icon">

        </button>
        <button class="products-table__button products-table__button--edit">
          <img src="/frontend/public/icons/edit.svg" alt="editar" class="products-table__icon">

        </button>
      </td>
    </tr>
    <tr class="products-table__row">
      <td class="products-table__cell">Manzana</td>
      <td class="products-table__cell">01</td>
      <td class="products-table__cell">Fruta</td>
      <td class="products-table__cell">Precio</td>

      <!-- ESTADO centrado -->
      <td class="products-table__cell products-table__cell--status">
        <span class="products-table__status products-table__status--idle">Inactivo</span>
      </td>

      <!-- ACCIONES en columna -->
      <td class="products-table__cell products-table__cell--actions">
        <button class="products-table__button products-table__button--block">
          <img src="/frontend/public/icons/unlock.svg" alt="Bloquear" class="products-table__icon">
        </button>
        <button class="products-table__button products-table__button--edit">
          <img src="/frontend/public/icons/edit.svg" alt="editar" class="products-table__icon">

        </button>
      </td>
    </tr>
    <tr class="products-table__row">
      <td class="products-table__cell">Manzana</td>
      <td class="products-table__cell">01</td>
      <td class="products-table__cell">Fruta</td>
      <td class="products-table__cell">Precio</td>

      <!-- ESTADO centrado -->
      <td class="products-table__cell products-table__cell--status">
        <span class="products-table__status products-table__status--active">Activo</span>
      </td>

      <!-- ACCIONES en columna -->
      <td class="products-table__cell products-table__cell--actions">
        <button class="products-table__button products-table__button--block">
          <img src="/frontend/public/icons/lock.svg" alt="desbloquear" class="products-table__icon">

        </button>
        <button class="products-table__button products-table__button--edit">
          <img src="/frontend/public/icons/edit.svg" alt="editar" class="products-table__icon">

        </button>
      </td>
    </tr>


      
  </tbody>
</table>
