<table class="home-table">
  <thead class="home-table__head">
    <tr class="home-table__row home-table__row--head">
      <th class="home-table__header">Fecha</th>
      <th class="home-table__header">Tipo</th>
      <th class="home-table__header">Descripcion</th>
    </tr>
  </thead>

  <tbody class="home-table__body">
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>
    <tr class="home-table__row">
      <td class="home-table__cell">23/09/2025</td>
      <td class="home-table__cell">Pedido</td>
      <td class="home-table__cell">Nuevo pedido de 100 kg de tomates</td>
    </tr>


  </tbody>
</table>
