<div class="toolbar-main">
  <div class="header-home__group header-home__group--left">
    <h1 class="header-home__title">Agrophia</h1>
    <img src="/frontend/public/icons/planta.png" alt="Icon principal">
  </div>

  <div class="header-home__group header-home__group--right">
    <div class="toolbar-main__row-icons">
      <button class="toolbar-main__icon">
        <img src="/frontend/public/icons/bell.svg" alt="Notificaciones" class="toolbar-main__icon-img">
      </button>
      <button class="toolbar-main__icon">
        <img src="/frontend/public/icons/user.svg" alt="Perfil" class="toolbar-main__icon-img">
      </button>
    </div>
  </div>
</div>
