<section class="shop-detail">
  <div class="shop-detail__container">
    <!-- Imagen representativa -->
     <div class="shop-detail__left">

        <div class="shop-detail__image">
          <img src="/frontend/public/img/img-no-found.jpg" alt="Imagen de la tienda" class="shop-detail__image--photo">
        </div>
        <p class="shop-detail__name-shop"><strong> El Ahorro</strong></p>
        <p class="shop-detail__descripcion-shop"><strong>Ahorras más comprando en nuestros locales</strong></p>

      </div>

    <!-- Información personal y de la tienda -->
    <div class="shop-detail__info">
      <h2 class="shop-detail__title">Información Personal</h2>

      <p class="shop-detail__field"><strong>Tipo de documento:</strong> CC</p>
      <p class="shop-detail__field"><strong>Número de Identificación:</strong> 123456789</p>
      <p class="shop-detail__field"><strong>Nombres:</strong> Sofia</p>
      <p class="shop-detail__field"><strong>Apellidos:</strong> Cardona</p>
      <p class="shop-detail__field"><strong>Teléfono:</strong> 3123456789</p>
      <p class="shop-detail__field"><strong>Correo Electrónico:</strong> sofiacardona@agrophia.com</p>
      <p class="shop-detail__field"><strong>Departamento:</strong> Risaralda</p>
      <p class="shop-detail__field"><strong>Municipio:</strong> Dosquebradas</p>
      <p class="shop-detail__field"><strong>Contraseña:</strong> ********</p>
      <p class="shop-detail__field"><strong>Dirección:</strong> Finca La Esperanza</p>

      <h2 class="shop-detail__title">Información de la Tienda</h2>

      <!-- <p class="shop-detail__field"><strong>Nombre de la tienda:</strong> El Ahorro</p> -->
      <p class="shop-detail__field"><strong>Teléfono:</strong> 3056785643</p>
      <p class="shop-detail__field"><strong>Correo Electrónico:</strong> sebasv@gmail.com</p>
      <p class="shop-detail__field"><strong>Departamento:</strong> Risaralda</p>
      <p class="shop-detail__field"><strong>Municipio:</strong> Santa Rosa de Cabal</p>
      <p class="shop-detail__field"><strong>URL:</strong> www.ahorro.com</p>
      <p class="shop-detail__field"><strong>Horario:</strong> Lunes a viernes</p>
      <!-- <p class="shop-detail__field"><strong>Descripción:</strong> Ahorras más comprando en nuestros locales</p> -->

      <!-- Botones de acción -->
      <div class="shop-detail__actions">
        <a href="/frontend/public/views/p_update_shop.html" class="shop-detail__btn--edit">Editar Tienda</a>
        <a href="/frontend/public/views/update_perfil.html" class="shop-detail__btn--edit">Editar Informacion personal</a>
        <a href="/frontend/public/views/store_admin.html" class="shop-detail__btn--disable">Deshabilitar</a>
      </div>
    </div>
  </div>
</section>
