{% load static %}
<link rel="stylesheet" href="{% static 'css/table_shops_admin.css' %}">
<div class="table-containerstore">
  <div class="table_shops">
    <table class="shops-table">
      <thead>
        <tr class="shops-table__row">
          <th class="shops-table__header">Nombre de la tienda</th>
          <th class="shops-table__header">Departamento</th>
          <th class="shops-table__header">Municipio</th>
          <th class="shops-table__header">Dirección</th>
          <th class="shops-table__header">Horario</th>
          <th class="shops-table__header">Estado</th>
          <th class="shops-table__header">Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for tienda in tiendas %}
        <tr class="shops-table__row">
          <td class="shops-table__cell">{{ tienda.nombre }}</td>
          <td class="shops-table__cell">{{ tienda.departamento }}</td>
          <td class="shops-table__cell">{{ tienda.municipio }}</td>
          <td class="shops-table__cell">{{ tienda.direccion }}</td>
          <td class="shops-table__cell">{{ tienda.horario }}</td>
          <td class="shops-table__cell">{% if tienda.is_active %}Activo{% else %}Inactivo{% endif %}</td>
          <td class="shops-table__cell">
            <a href="{% url 'administrador:tienda_admin_detalle' tienda.id %}" class="shops-table__button shops-table__button--detail" title="Ver detalles">
              <img src="{% static 'icons/list-details.svg' %}" alt="Ver más" style="width:18px;height:18px;vertical-align:middle;margin-right:4px;">Ver más
            </a>
            <a href="{% url 'administrador:tienda_admin_editar' tienda.id %}" class="shops-table__button shops-table__button--edit" title="Editar tienda">
              <img src="{% static 'icons/edit.svg' %}" alt="Editar" style="width:18px;height:18px;vertical-align:middle;margin-right:4px;">Editar
            </a>
            {% if tienda.is_active %}
              <button type="button" onclick="bloquearTienda({{ tienda.id }})" class="shops-table__button shops-table__button--block" title="Bloquear tienda">
                <img src="{% static 'icons/lock.svg' %}" alt="Bloquear" style="width:18px;height:18px;vertical-align:middle;margin-right:4px;">Bloquear
              </button>
            {% else %}
              <button type="button" onclick="desbloquearTienda({{ tienda.id }})" class="shops-table__button shops-table__button--unblock" title="Desbloquear tienda">
                <img src="{% static 'icons/unlock.svg' %}" alt="Desbloquear" style="width:18px;height:18px;vertical-align:middle;margin-right:4px;">Desbloquear
              </button>
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr><td colspan="9">No hay tiendas registradas.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{% static 'js/tiendas_admin_actions.js' %}"></script>
