<div class="toolbar-products">
  
  <div class="toolbar-products__content">
    <div class="header-home__group header-home__group--left">
      <h1 class="header-home__title">Agrophia</h1>
      <img src="/frontend/public/icons/planta.png" alt="Icon principal">
    </div>

    <div class="header-home__group header-home__group--right">
      <a href="/frontend/public/views/generate-product_report.html">
        <button class="toolbar-products__button">Generar Reporte</button>
      </a>
      <button class="toolbar-products__button">Agregar Producto</button>
      
      <div class="toolbar-products__row-icons">
        <button class="toolbar-products__icon">
          <img src="/frontend/public/icons/bell.svg" alt="Notificaciones" class="toolbar-products__icon-img">
        </button>
        <button class="toolbar-products__icon">
          <img src="/frontend/public/icons/user.svg" alt="Perfil" class="toolbar-products__icon-img">
        </button>
      </div>
    </div>
  </div>
</div>
