
<!-- Toolbar de la secci&oacute;n de usuarios -->
<div class="toolbar-users">

  <div class="toolbar-users__content">
    <div class="header-users__group--left">
      <h1 class="header-home__title">Agrophia</h1>
      <img src="/frontend/public/icons/planta.png" alt="Icon principal">
    </div>

    <div class="header-users__group--right">

      <a href="/frontend/public/views/generate-user_report.html" class="toolbar-users--button-report">
        <button class="toolbar-users__button">Generar Reporte</button>
      </a>
      <button class="toolbar-users__button">Nuevo Usuario</button>
      <button class="toolbar-users__button toolbar-users__button--message">Enviar mensaje</button>
      
    <div class="toolbar-users__row-icons">
      <button class="toolbar-users__icon">
        <img src="/frontend/public/icons/bell.svg" alt="Notificaciones" class="toolbar-users__icon-img">
      </button>
      <button class="toolbar-users__icon">
        <img src="/frontend/public/icons/user.svg" alt="Perfil" class="toolbar-users__icon-img">
      </button>
    </div>
  </div>
</div>
