{% load static %}

<div class="cart">
  <h2 class="cart__title">Carrito de Compras - Productos Agrícolas</h2>

  <div class="cart__container">
    <div class="cart__table">

      <!-- FILA 1 -->
      <div class="cart__content">
        <div class="cart__row">

          <div class="cart__row--1">
            <div class="cart__cell" data-label="Producto">
              <label class="cart__label">Producto</label>
              <div class="cart__value">Tomates</div>
            </div>
            
            <div class="cart__cell" data-label="Precio Unidad">
              <label class="cart__label">Precio Unidad</label>
              <div class="cart__value">$2.500</div>
            </div>
          </div>
          
          <div class="cart__row--2">
            
            <div class="cart__cell" data-label="Tipo">
              <label class="cart__label">Tipo</label>
              <div class="cart__value">Verdura</div>
            </div>
            
            <div class="cart__cell" data-label="Cantidad">
              <label class="cart__label">Cantidad</label>
              <input type="number" class="cart__input" min="1" value="2" />
            </div>
          </div>
          
        </div>
          <div class="cart__cell cart__actions" data-label="Acciones">
            <div class="cart__actions--row">
              <button class="cart__btn cart__btn--edit">Confirmar</button>
              <button class="cart__btn cart__btn--cancel">Cancelar</button>
            </div>
          </div>
      </div>
      <div class="cart__content">
        <div class="cart__row">

          <div class="cart__row--1">
            <div class="cart__cell" data-label="Producto">
              <label class="cart__label">Producto</label>
              <div class="cart__value">Tomates</div>
            </div>
            
            <div class="cart__cell" data-label="Precio Unidad">
              <label class="cart__label">Precio Unidad</label>
              <div class="cart__value">$2.500</div>
            </div>
          </div>
          
          <div class="cart__row--2">
            
            <div class="cart__cell" data-label="Tipo">
              <label class="cart__label">Tipo</label>
              <div class="cart__value">Verdura</div>
            </div>
            
            <div class="cart__cell" data-label="Cantidad">
              <label class="cart__label">Cantidad</label>
              <input type="number" class="cart__input" min="1" value="2" />
            </div>
          </div>
          
        </div>
          <div class="cart__cell cart__actions" data-label="Acciones">
            <div class="cart__actions--row">
              <button class="cart__btn cart__btn--edit">Confirmar</button>
              <button class="cart__btn cart__btn--cancel">Cancelar</button>
            </div>
          </div>
      </div>

      <div class="cart__content">
        <div class="cart__row">

          <div class="cart__row--1">
            <div class="cart__cell" data-label="Producto">
              <label class="cart__label">Producto</label>
              <div class="cart__value">Café</div>
            </div>
            
            <div class="cart__cell" data-label="Precio Unidad">
              <label class="cart__label">Precio Unidad</label>
              <div class="cart__value">$8.000</div>
            </div>
          </div>
          
          <div class="cart__row--2">
            <div class="cart__cell" data-label="Tipo">
              <label class="cart__label">Tipo</label>
              <div class="cart__value">Grano</div>
            </div>
            
            <div class="cart__cell" data-label="Cantidad">
              <label class="cart__label">Cantidad</label>
              <input type="number" class="cart__input" min="1" value="1" />
            </div>
          </div>
        </div>

        <div class="cart__cell cart__actions" data-label="Acciones">
          <div class="cart__actions--row">
            <button class="cart__btn cart__btn--edit">Confirmar</button>
            <button class="cart__btn cart__btn--cancel">Cancelar</button>
          </div>
        </div>

      </div>
      
    </div>

    <!-- TOTAL -->
    <div class="cart__summary">
      <p class="cart__total">Total: <span class="cart__total-value">$13.000</span></p>
      <div class="cart__summary--options">

        <select name="payment-method" class="cart__summary--options__method-pay" required>
          <option value="">-- Método de pago --</option>
          <option value="pago contra entrega">Pago contra entrega</option>
          <option value="pago de contado">Pago de contado</option>
          <option value="transferencia">Transferencia</option>
        </select>
        
        <select  name="shipping-method" class="cart__summary--options__method-send" required>
          <option value="">-- Método de envío --</option>
          <option value="envio a domicilio">Envío a domicilio</option>
          <option value="recogido en tienda">Recogido en tienda</option>
          <option value="entrega bajo cita">Entrega bajo cita</option>
        </select>
      </div>
    </div>
  </div>


  <!-- BOTONES FINALES -->
  <div class="cart__actions-global">
    <a href="{% url 'usuarios:login_customer_user' %}" class="cart__btn cart__btn--back">Volver</a>
    <a href="{% url 'usuarios:login_customer_user' %}" class="cart__btn cart__btn--pay" id="cart-pay-btn">Pagar</a>
  </div>
</div>
