<div class="create-perfil-farmer">
    <a href="/frontend/public/views/p_login-customer.html" class="create-perfil-farmer__back">Volver</a>

    <div class="create-perfil-farmer__container">
        <h1 class="create-perfil-farmer__title">Agrophia</h1>
        <h1 class="create-perfil-farmer__subtitle">Crea tu perfil de agricultor</h1>
        <div class="create-perfil-farmer__row">

        <div class="create-perfil-farmer__group-file__photo">
            <img src="/frontend/public/img/foto_sofi.png" alt="foto de Perfil cargada" class="profile-update__group-file__photo_review">
            
            <label for="input-foto" class="create-perfil-farmer__label--file">
                Cambiar foto
            </label>
            <input id="input-foto" class="create-perfil-farmer__input create-perfil-farmer__input--file" type="file" name="foto" />
            
        </div>
        <form class="create-perfil-farmer__form">
            <div class="create-perfil-farmer__form-group">
                <label for="input-nombres" class="create-perfil-farmer__label">Nombres</label>
                <input type="text" class="create-perfil-farmer__input" name="nombres" placeholder="Breiner" autocomplete="given-name" required>
            </div>
            
            <div class="create-perfil-farmer__form-group">
                <label for="input-nombres" class="create-perfil-farmer__label">Apellidos</label>
                <input type="text" class="create-perfil-farmer__input" name="nombres" placeholder="Morales" autocomplete="given-name" required>
            </div>
           
            <div class="create-perfil-farmer__form-group">
                <label for="input-nombres" class="create-perfil-farmer__label">Correo Electrónico</label>
                <input type="text" class="create-perfil-farmer__input" name="nombres" placeholder="breiner@gmail.com" autocomplete="given-name" required>
            </div>
            
            <div class="create-perfil-farmer__form-group">
                <label for="input-nombres" class="create-perfil-farmer__label">Telefono</label>
                <input type="tel" class="create-perfil-farmer__input" name="nombres" placeholder="3217565469" autocomplete="given-name" required>
            </div>
        </form>
        </div>
        <a href="/frontend/public/views/create-farmer-perfil2.html">
            <button type="submit" class="create-perfil-farmer__next">Siguiente</button>
        </a>

    </div>
</div>