{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">


<div class="form-shop__content">

    <a href="/frontend/public/views/p_login-customer.html" class="form-shop__back">Volver</a>

    <!-- <h1 class="form-shop__title">Agrophia</h1> -->

    <div class="form-shop__container">

        <div class="shop">
                <h2 class="form-shop__subtitle">Crea tu tienda</h2>
            <div class="form-shop">
                <form method="POST" class="form-shop__body">
                    {% csrf_token %}

                    <div class="form-shop__group">
                        <label for="nombre" class="form-shop__label">Nombre de la tienda</label>
                        <input type="text" name="nombre" class="form-shop__input" placeholder="Nombre tienda" required>
                    </div>

                    <div class="form-shop__group">
                        <label for="tel" class="form-shop__label">Teléfono</label>
                        <input type="tel" name="telefono" class="form-shop__input" placeholder="Teléfono" required>
                    </div>

                    <div class="form-shop__group">
                        <label for="email" class="form-shop__label">Correo Electrónico</label>
                        <input type="email" name="email" class="form-shop__input" placeholder="Correo" required>
                    </div>

                    <div class="form-shop__group">
                        <label class="form-shop__label" for="direccion">Departamento</label>
                        <select id="direccion" name="departamento" class="form-shop__option">
                            <option value="">Selecciona el Departamento</option>
                            <option value="Risaralda">Risaralda</option>
                            <option value="Caldas">Caldas</option>
                            <option value="Quindio">Quindio</option>
                        </select>
                    </div>

                    <div class="form-shop__group">
                        <label class="form-shop__label" for="direccion">Municipio</label>
                        <select id="direccion" name="municipio" class="form-shop__option">
                            <option value="">Selecciona el Municipio</option>
                            <option value="Neira">Risaralda</option>
                            <option value="Manizales">Manizales</option>
                            <option value="San Josè">San Josè</option>
                        </select>
                    </div>

                    <div class="form-shop__next">
                        <button type="submit"  class="create-perfil-farmer__next">Siguiente</button>
                    </div>
                    
                    <!-- <div class="form-shop__group">
                        <label for="horario" class="form-shop__label">Horario de atencion</label>
                        <input type="text" class="form-shop__input" placeholder="Ej:Lunes a viernes 8AM a 6PM" required>
                    </div>

                    <div class="form-shop__group">
                        <label for="url" class="form-shop__label">URL de tu sitio web (opcional)</label>
                        <input type="url" class="form-shop__input" placeholder="www.el ahorro.com.co" required>
                    </div>

                    <div class="form-shop__group">
                        <label for="password" class="form-shop__label">Contraseña</label>
                        <input type="password" class="form-shop__input" placeholder="Contraseña" required>
                        <div class="form-shop__show-password">
                            <input type="checkbox" class="form-shop__checkbox" />
                            <label for="toggle-password" class="form-shop__checkbox-label">Mostrar contraseña</label>
                        </div>
                    </div>

                    <div class="form-shop__group">
                        <label for="password" class="form-shop__label">Confirmar contraseña</label>
                        <input type="password" class="form-shop__input" placeholder="Contraseña" required>
                    </div>
                </form>
                
                <div class="form-shop__textarea">
                    <label for="message" class="form-shop__label">Descripcion breve de la tienda (opcional)</label>
                    <textarea type="message" class="form-shop__description" placeholder="Descripcion breve de la tienda"></textarea>
                </div>

                <div class="form-shop__create">
                    <button type="submit" class="form-shop__button">Crear tienda</button>
                </div> -->

            </div>
        </div>
    </div>
</div>