{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<footer class="footer-content">
  <div class="footer__copy">
    Agrophia ©2025 - Todos los derechos reservados
  </div>
  <div class="footer__social">
      <p class="footer__social-text">Síguenos en nuestra redes.</p>
    <a href="https://www.instagram.com/agrophia_s.a.s?igsh=MWsxOGpycTBqc2d0MQ%3D%3D&utm_source=qr">
    <img src="{% static 'icons/instagram.png' %}"
        alt="Instagram"
        class="footer__social-icon"
        width="24" height="24">
    </a>

    <a href="https://www.facebook.com/share/15bzLb7gmK/?mibextid=wwXIfr">
    <img src="{% static 'icons/icon_facebook.svg' %}"
        alt="Facebook"
        class="footer__social-icon"
        width="24" height="24">
    </a>

    <a href="http://tiktok.com/@agrophiaproject">
    <img src="{% static 'icons/tik-tok.png' %}"
        alt="TikTok"
        class="footer__social-icon"
        width="24" height="24">
    </a>
  </div>
</footer>


