{% load static %}

<div class="container-forgot__password">

  <div class="forgot-password">
    <h2 class="forgot-password__title">Agrophia</h2>
    
    <div class="forgot-password__card">
      <p class="forgot-password__description">Ingresa tu correo electrónico para <br> restablecerl la contraseña</p>
      
      <form method="POST" onsubmit="mostrarAlerta(event)" class="forgot-password__form">
      {% csrf_token %}

        <div class="forgot-password__group">
          <label for="email" class="forgot-password__label">Correo Electrónico</label>
          <input type="email" placeholder="Correo electrónico" class="forgot-password__input" required>
        </div>
      </form>
      <a href="/frontend/public/views/reset_password.html" type="submit" 
      onclick="mostrarAlerta(event)" class="forgot-password__btn">Enviar código</a>
    </div>
  </div>
  <a href="/frontend/public/views/login.html" class="forgot-password__back">Volver</a>
  
</div>


  


  