{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="container-forgot__password">

  <div class="forgot-password">
    <h2 class="forgot-password__title">Agrophia</h2>
    
    <div class="forgot-password__card">
      <p class="forgot-password__description">Ingresa tu correo electrónico para <br> restablecerl la contraseña</p>
      
    <form method="POST" class="forgot-password__form">
      {% csrf_token %}

      {% if errores.general %}
        <div class="error-box">{{ errores.general }}</div>
      {% endif %}

      {% if mensaje %}
        <div class="success-box">{{ mensaje }}</div>
      {% endif %}

      <div class="forgot-password__group">
        <label class="forgot-password__label">Correo Electrónico</label>
        <input
          type="email"
          name="email"
          placeholder="Correo electrónico"
          class="forgot-password__input"
          value="{{ valores.email|default:'' }}"
          required
        >

        {% if errores.email %}
          <small class="error-text">{{ errores.email }}</small>
        {% endif %}
      </div>

      <button type="submit" class="forgot-password__btn" onclick="mostrarAlerta(event)">
        Enviar código
      </button>
    </form>
      <a href="{% url 'reset_password' %}" class="login-container__register">
        Restablecer contraseña
      </a>
    </div>
  </div>
<a href="{% url 'login' %}" class="reset__back">Volver</a>

  
</div>


  


  