{% load static %}

<a href="{% url 'forgot_password' %}" class="reset__back">Volver</a>

<div class="reset-container__principal">
  <h1 class="principal__title">Agrophia</h1> 

  <div class="reset-container">
    <div class="reset">
      <img src="{% static 'icons/lock.svg' %}" alt="candado" width="40" height="40" class="reset__icon">
      <h2 class="reset__title">Restablecer tu contraseña</h2>
    </div>

    <div class="reset-content"> 
      <form method="POST" class="reset__form">
        {% csrf_token %}

        {% if errores.general %}
          <div class="error-box">{{ errores.general }}</div>
        {% endif %}

        {% if mensaje %}
          <div class="success-box">{{ mensaje }}</div>
        {% endif %}

        <div class="reset__field">
          <label class="reset__label">Código de verificación</label>
          <input type="text"
                 name="codigo"
                 class="reset__input"
                 placeholder="ej:234786"
                 value="{{ valores.codigo|default:'' }}"
                 required>

          {% if errores.codigo %}
            <small class="error-text">{{ errores.codigo }}</small>
          {% endif %}
        </div>
        
        <div class="reset__field">
          <label class="reset__label">Nueva contraseña</label>
          <input type="password"
                 name="password"
                 class="reset__input"
                 placeholder="Nueva contraseña"
                 required>

          {% if errores.password %}
            <small class="error-text">{{ errores.password }}</small>
          {% endif %}
        </div>
        
        <div class="reset__field">
          <label class="reset__label">Confirmar contraseña</label>
          <input type="password"
                 name="confirm_password"
                 class="reset__input"
                 placeholder="Confirmar contraseña"
                 required>

          {% if errores.confirm_password %}
            <small class="error-text">{{ errores.confirm_password }}</small>
          {% endif %}
        </div>

        <button type="submit" class="reset__button">
          Cambiar contraseña
        </button>
      </form>
    </div>
  </div>
</div>
