{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<a href="/frontend/public/views/p_forgot-password.html" class="reset__back">Volver</a>

<div class="reset-container__principal">

  <h1 class="principal__title">Agrophia</h1> 
  
  <div class="reset-container">
    <div class="reset">
      <img src="/frontend/public/icons/lock.svg" alt="candado" width="40px" height="40px" class="reset__icon">
      <h2 class="reset__title">Restablecer tu contraseña</h2>
    </div>
    <div class="reset-content"> 
      <form method="POST" class="reset__form">
      {% csrf_token %}

        <div class="reset__field">
          <label class="reset__label">Código de verificación</label>
          <input type="text" class="reset__input" placeholder="ej:234786">
        </div>
        
        <div class="reset__field">
          <label class="reset__label">Nueva contraseña</label>
          <input type="password" class="reset__input" placeholder="Nueva contraseña">
        </div>
        
        <div class="reset__field">
          <label class="reset__label">Confirmar contraseña</label>
          <input type="password" class="reset__input" placeholder="Confirmar contraseña">
        </div>
      </form>
    </div>
    <a href="/frontend/public/views/login.html" onclick="mostrarAlerta(event)" class="reset__button">Cambiar contraseña</a>
  </div>
  
</div>