{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<section class="hero">
    <div class="hero-content" style="
    background-image: url('{% static 'img/hero__image.jpeg' %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;">
      
      <h1 class="hero-content__title">Manzana Golden Delicious</h1>
      <p class="hero-content__information">Frutas de temporada con 20% de descuento. <br>
        ¡Solo esta semana! <br>
         Compra directamente al productor.</p>
    </div>
    
</section>
