<button class="back-btn" type="button" aria-label="Volver">Volver</button>
<div class="profile-form-update-container">
  <div class="profile">
    <h2 class="profile__title">Información del Perfil</h2>

    <div class="profile__group">
      <label class="profile__label">Nombre Completo</label>
      <p class="profile__text">Breiner Morales</p>
    </div>

    <div class="profile__group">
      <label class="profile__label">Número de Identificación</label>
      <p class="profile__text">108263637</p>
    </div>
    
    <div class="profile__group">
      <label class="profile__label">Teléfono</label>
      <p class="profile__text">3123456789</p>
    </div>

    <div class="profile__group">
      <label class="profile__label">Correo</label>
      <p class="profile__text">breiner@mail.com</p>
    </div>
    
    <div class="profile__group">
      <label class="profile__label">Dirección</label>
      <p class="profile__text">Finca La Tribuna, Risaralda - Dosquebradas</p>
    </div>


    <button class="profile__button" > <a href="/frontend/public/views/update_perfil.html" class="profile__link" >Editar información</a></button>
  </div>
</div>
