{% load static %}

<section class="board">
    <div class="board__item">
        <img src="{% static 'icons/subir_producto.jpeg' %}" alt="Subir producto" class="board__icon">
        <button class="board__button"  onclick="window.location.href='http://127.0.0.1:5501/frontend/public/views/form_subir_producto.html'">Subir nuevo producto</button>
    </div>

    <div class="board__item">
        <img src="{% static 'icons/productos_deshabilitados.png' %}" alt="Productos deshabilitados" class="board__icon">
        <button class="board__button"  onclick="window.location.href='http://127.0.0.1:5501/frontend/public/views/p-card_disable.html'">Productos deshabilitados</button>
    </div>

    <div class="board__item">
        <img src="{% static 'icons/pedidos.png' %}" alt="pedidos" width="48px" height="48px" class="board__icon">
        <button class="board__button" onclick="window.location.href='http://127.0.0.1:5501/frontend/public/views/ordes.html'">Pedidos</button>
    </div>

   <div class="board__item">
        <img src="{% static 'icons/ver_productos.jpeg' %}" alt="Ver productos" class="board__icon">
        <button class="board__button"  onclick="window.location.href='http://127.0.0.1:5501/frontend/public/views/p_card_public.html'">Ver productos publicados</button>
    </div>

</section>
 