<!-- <header class="header-available"> -->
  <!-- <h1 class="header-available__title">Productos Disponibles</h1>
  <div class="header-available__subtitle">Productos disponibles del campo colombiano</div> -->
<nav class="header-available__navbar">
  <div class="header-home__group header-home__group--left">
    <h1 class="header-home__title">Agrophia</h1>
    <img src="/frontend/public/icons/planta.png" alt="Icon principal">
  </div>
  <div class="header-available__group header-available__group-right">
    <ul class="header-available__list">
      <li><a href="/frontend/public/views/p_login-customer.html" class="header-available__link">Inicio</a></li>
      <li class="header-available__item"><a href="/frontend/public/views/ordes.html" class="header-available__link">Compras</a></li>
      <li class="header-available__item"><a href="/frontend/public/views/shopping.html" class="header-available__link">Carrito de compras</a></li>
      <li class="header-available__item"><a href="/frontend/public/views/contact.html" class="header-available__link">Contacto</a></li>
      <li class="header-available__item"><a href="/frontend/public/views/index.html" class="header-available__link">Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>
<!-- </header>  -->