<header class="contact-home">
  <nav class="contact-home__navbar">
    <div class="contact-home__group contact-home__group--left">
    </div>
    <div class="contact-home__group contact-home__group--right">
      <ul class="contact-home__list">
        <li class="contact-home__item"><a href="/frontend/public/views/ordes.html" class="contact-home__link">Compras</a></li>
        <li class="contact-home__item"><a href="/frontend/public/views/shopping.html" class="contact-home__link">Carrito de compras</a></li>
        <li class="nav-menu">
        <details>
          <summary>
            <img src="/frontend/public/icons/menu-white.svg" alt="Menú" class="nav-menu__icon">
          </summary>
          <ul class="nav-menu__list">
            <li><a href="/frontend/public/views/profile.html">Perfil</a></li>
            <li><a href="/frontend/public/views/update_perfil.html">Configuración</a></li>
            <li><a href="/frontend/public/views/index.html">Cerrar Sesión</a></li>
          </ul>
        </details>
      </li>
      </ul>
    </div>
  </nav>
</header> 