<!-- <header class="header-product__disable">
  <h1 class="header-product__disable-title">Productos Deshabilitados</h1>
  <div class="header-product__disable-subtitle">Productos deshabilitados del campo colombiano</div> -->
  <nav class="header-product__disable-navbar">
    <div class="header-home__group header-home__group--left">
      <h1 class="header-home__title">Agrophia</h1>
      <img src="/frontend/public/icons/planta.png" alt="Icon principal">
    </div>
    <div class="header-product__disable-group header-product__disable-group--left">
    </div>
    <div class="header-product__disable-group header-product__disable-group--right">
      <ul class="header-product__disable-list">
        <li class="header-product__disable-item"><a href="/frontend/public/views/interface_farmer.html" class="header-product__disable-link">Inicio</a></li>
        <li class="header-product__disable-item"><a href="/frontend/public/views/p_card_public.html" class="header-product__disable-link">Productos</a></li>
        <li class="header-product__disable-item">
          <a href="/frontend/disable/views/index.html" class="header-product__disable-link">Cerrar Sesión</a>
        </li>
        <li class="header-product__disable-item"><a href="form_contact.html" class="header-product__disable-link"><a><svg
          class="header-product__disable-menu" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor" stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-menu-deep"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6h16" /><path d="M7 12h13" /><path d="M10 18h10" /></svg></a></li>
      </ul>
    </div>
  </nav>
<!-- </header>  -->