<header class="header"> 
  <!-- <h1 class="header__title">Agrophia</h1>
  <div class="header__subtitle">Conectando el campo con tu mesa</div> --> 
<nav class="header__navbar ">
  <div class="header-home__group header-home__group--left">
    <h1 class="header-home__title">Agrophia</h1>
    <img src="/frontend/public/icons/planta.png" alt="Icon principal">
  </div>
  <div class="header-home__group header-home__group--right">

    <div class="navbar__group">
      <ul class="navbar__list">
        <li class="navbar__item"><a href="index.html" class="navbar__link">Inicio</a></li>
        <li class="navbar__item"><a href="/frontend/public/views/p_card-available.html" class="navbar__link">Productos</a></li>
        <li class="navbar__item"><a href="contact.html" class="navbar__link">Contacto</a></li>
        <li class="navbar__item"><a href="login.html" class="navbar__link">Iniciar sesión</a></li>
        <li class="navbar__item"><a href="register.html" class="navbar__link">Registrarse</a></li>
      </ul>
    </div>
    
  </div>
</nav>

<!-- </header>  -->

