<div class="profile-content2">
  <!-- <h1 class="profile__title-principal">Informacion de perfil</h1> -->
  <div class="profile-shop2">
    <div class="profile__header">
      <div class="profile__img-container">
        <img src="/frontend/public/img/foto_sofi.png" alt="imagen de Perfil" class="profile__img">
      </div>
      <h2 class="profile__title">Sofia Cardona</h2>
      <p class="profile__subtitle">Productora de Café - Risaralda con una excelente calidad en mis productos</p>
    </div>
    <div class="profile__row">
        <div class="profile__row2">
            
            <div class="profile_group">
                
                <div class="profile__group--body">
                    <h1 class="profile-shop__title profile__title--shop">Informacion Personal</h1>
                    <div class="profile__body2">
                        <div class="profile__item">
                            <span class="profile__label">Tipo de documento</span>
                            <div class="profile__value">CC</div>
                        </div>
                        
                        <div class="profile__item">
                            <span class="profile__label">Número de Identificación</span>
                            <div class="profile__value">123456789</div>
                        </div>
                        <div class="profile__item">
                            <span class="profile__label">Nombres</span>
                            <div class="profile__value">Sofia</div>
                        </div>
                        <div class="profile__item">
                            <span class="profile__label">Apellidos</span>
                            <div class="profile__value">Cardona</div>
                        </div>
                        
                        <div class="profile__item">
                            <span class="profile__label">Teléfono</span>
                            <div class="profile__value">3123456789</div>
                        </div>
                        
                        <div class="profile__item">
                            <span class="profile__label">Correo Electrónico</span>
                            <div class="profile__value">sofiacardona@agrophia.com</div>
                        </div>
                        
                        <div class="profile__item">
                            <span class="profile__label">Departamento</span>
                            <div class="profile__value">Risaralda</div>
                        </div>
                        <div class="profile__item">
                            <span class="profile__label">Municipio</span>
                            <div class="profile__value">Dosquebradas</div>
                        </div>
                        <div class="profile__item">
                            <span class="profile__label">Contraseña</span>
                            <div class="profile__value">********</div>
                        </div>
                        <div class="profile__item">
                            <span class="profile__label">Dirección</span>
                            <div class="profile__value">Finca La Esperanza</div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="profile-shop">
                <h3 class="profile-shop__title">Información de la Tienda</h3>
                
                <div class="profile-shop__info">
                    <p class="profile-shop__field"><strong>Nombre de la tienda:</strong> El Ahorro</p>
                    <p class="profile-shop__field"><strong>Teléfono:</strong> 3056785643</p>
                    <p class="profile-shop__field"><strong>Correo Electrónico:</strong> sebasv@gmail.com</p>
                    <p class="profile-shop__field"><strong>Departamento:</strong> Risaralda</p>
                    <p class="profile-shop__field"><strong>Municipio:</strong> Santa Rosa de Cabal</p>
                    <p class="profile-shop__field"><strong>URL:</strong>www.ahorro.com</p>
                    <p class="profile-shop__field"><strong>Horario:</strong>Lunes a viernes</p>
                    <p class="profile-shop__field"><strong>Descripción:</strong>Ahorras mas comprando en nuestros locales</p>
                </div>
            </div>
        </div>
        <div class="profile__actions">
            <div class="profile__subcontainer-actions">
                <a href="/frontend/public/views/interface_farmer.html" class="profile__actions--back">Volver</a>
    
                <a href="/frontend/public/views/p_login-customer.html" class="profile__actions--back" onclick="mostrarAlerta(event)">Deshabilitar tienda</a>
                
            </div>
            <div class="profile__subcontainer-actions">
                <a href="/frontend/public/views/update_perfil.html" class="profile__actions--edit">
                    Editar información personal
                </a>
                
                <a href="/frontend/public/views/p_update_shop.html" class="profile__actions--edit">
                    Editar Tienda
                </a>
            </div>

        </div>
    </div>
  </div>
</div>
