{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="form-content__register">
  <h2 class="form__title">Formulario de Registro</h2>
  <!-- Contenedor de errores del servidor -->
  {% if errores.documento %}
  <div class="input-error" style="display: block; margin-bottom: 20px; padding: 10px; background-color: var(--gray-800); border-left: 4px solid var(--black); border-radius: 4px;"> {{ errores.documento }}</div>
  {% endif %}
  <form id="register-form" method="POST" onsubmit="mostrarAlerta(event)" class="form-content__group2">
  {% csrf_token %}
    

    <div class="form__group">
      <label for="email" class="form__label">Correo Electrónico</label>
      <input type="email" name="email" class="form__input" placeholder="Correo Electrónico" value="{{ valores.email }}">
      {% if errores.email %}
      <div class="input-error">{{ errores.email }}</div>
      {% endif %}
    </div>

    <div class="form__group">
      <label for="telefono" class="form__label">Teléfono</label>
      <input type="tel" name="telefono" class="form__input" placeholder="Teléfono" value="{{ valores.telefono }}">
      {% if errores.telefono %}
      <div class="input-error">{{ errores.telefono }}</div>
      {% endif %}
    </div>

    <div class="form__group">
      <label class="form__label" for="input-departament">Departamento</label>
      <select id="input-departament" name="departamento" class="form__option">
        <option value="">Selecciona el Departamento</option>
        <option value="Risaralda" {% if valores.departamento == 'Risaralda' %}selected{% endif %}>Risaralda</option>
        <option value="Caldas" {% if valores.departamento == 'Caldas' %}selected{% endif %}>Caldas</option>
        <option value="Quindio" {% if valores.departamento == 'Quindio' %}selected{% endif %}>Quindio</option>
      </select>
    </div>
      
      <div class="form__group">
        <label class="form__label" for="input-municipality">Municipio</label>
          <select id="input-municipality" name="municipio" class="form__option">
            <option value="">Selecciona el Municipio</option>
            <option value="{{ valores.municipio }}" selected>{{ valores.municipio }}</option>
          </select>
      </div>
      
    <div class="form__group">
      <label for="direccion" class="form__label">Dirección completa</label>
      <input type="text" class="form__input" name="direccion" placeholder="Dirección completa" value="{{ valores.direccion }}">
    </div>
    
    <div class="register__group-textarea">
          <label class="profile-update__label" for="input-descripcion">Descripción de perfil (opcional)</label>
          <textarea id="input-direccion" class="register__textarea" type="text" name="descripcion" placeholder="Maximo 40 Caracteres" autocomplete="street-address">{{ valores.descripcion }}</textarea>
          {% if errores.descripcion %}
          <div class="input-error">{{ errores.descripcion }}</div>
          {% endif %}
        </div>
    <div class="form__group">
      <label for="password" class="form__label">Contraseña</label>
      <input id="password" type="password" name="password" class="form__input" placeholder="Contraseña">

        <div class="form__check">
          <label class="form__label form__see--password">
            <input id="mostrar" type="checkbox">
            Mostrar contraseña
          </label>
        </div>
    </div>
  
    <div class="form__group">
        <label for="password" class="form__label"> Confirmar Contraseña</label>
        <input type="password" name="confirm_password" class="form__input" placeholder="Contraseña">
    </div>

    
  </form>


   <div class="form-content__register--row-buttons">
     <a href="{% url 'register' %}"
     class="form-content__register--row-buttons__back">
     Volver
    </a>
    <button type="submit" form="register-form" class="form-content__register--row-buttons__next">Registrarse</button>
    </div>
    
    <script src="{% static 'js/components/register.js' %}"></script>
</div>