<!-- <h1 class="home__title">Agrophia</h1> -->

{% load static %}

<div class="form-content__register">
  <h2 class="form__title">Formulario de Registro</h2>

  <div class="form-content__register-row">

  <div class="profile-update__group-file__photo">
          <img src="{% static 'img/foto_sofi.png' %}" alt="foto de Perfil cargada" class="profile-update__group-file__photo_review">
          
          <!-- Label que actúa como botón -->
          <label for="input-foto" class="profile-update__label--file">
            Cambiar foto
          </label>
          <input id="input-foto" class="profile-update__input profile-update__input--file" type="file" name="foto" />
          
          <!-- Aquí se mostrará el nombre de la foto seleccionada -->
          <!-- <span id="file-name" class="profile-update__file-name">Ningún archivo seleccionado</span> -->
        </div>
  <form method="POST" onsubmit="mostrarAlerta(event)" class="form-content__group">
  {% csrf_token %}

    <div class="form__group">
      <label for="tdocumento" class="form__label">Tipo de Documento</label>
      <select id="tdocumento" name="tdocumento" class="form__option" required>
      <option value="">-- Tipo de documento --</option>
      <option value="cc">CC</option>
      <option value="ti">TI</option>
      <option value="cedula extranjera">Cédula extranjera</option>
      <option value="pasaporte">Pasaporte</option>
    </select>
      
    </div>
    <div class="form__group">
      <label for="documento" class="form__label">Número de Documento</label>
      <input type="text" class="form__input" placeholder="Número de documento">
    </div>

    <div class="form__group">
      <label for="nombres" class="form__label">Nombres</label>
      <input type="text" class="form__input" placeholder="Nombres">
    </div>

    <div class="form__group">
      <label for="apellidos" class="form__label">Apellidos</label>
      <input type="text" class="form__input" placeholder="Apellidos">
    </div>    
  </form>
  </div>

  <div class="form-content__register--row-buttons">
  <a href="/frontend/public/views/index.html" class="form-content__register--row-buttons__back">Volver</a>
  <a href="/frontend/public/views/register2.html" class="form-content__register--row-buttons__next">Siguiente</a>
  </div>
</div>