{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="form-content__register">
  <h2 class="form__title">Formulario de Registro</h2>
  <form method="POST" onsubmit="mostrarAlerta(event)" class="form-content__group2">
  {% csrf_token %}
    

    <div class="form__group">
      <label for="email" class="form__label">Correo Electrónico</label>
      <input type="email" name="email" class="form__input" placeholder="Correo Electrónico">
    </div>

    <div class="form__group">
      <label for="telefono" class="form__label">Teléfono</label>
      <input type="tel" name="telefono" class="form__input" placeholder="Teléfono">
    </div>

    <div class="form__group">
      <label class="form__label" for="input-departament">Departamento</label>
      <select id="input-departament" name="departamento" class="form__option">
        <option value="">Selecciona el Departamento</option>
        <option value="Risaralda">Risaralda</option>
        <option value="Caldas">Caldas</option>
        <option value="Quindio">Quindio</option>
      </select>
    </div>
      
      <div class="form__group">
        <label class="form__label" for="input-municipality">Municipio</label>
        <select id="input-departament" name="municipio" class="form__option">
          <option value="">Selecciona el Municipio</option>
          <option value="Risaralda">Neira</option>
          <option value="Caldas">Manizales</option>
          <option value="Quindio">San josé</option>
        </select>
      </div>
      
    <div class="form__group">
      <label for="direccion" class="form__label">Dirección completa</label>
      <input type="text" class="form__input" name="direccion" placeholder="Dirección completa">
    </div>
    
    <div class="register__group-textarea">
          <label class="profile-update__label" for="input-descripcion">Descripción de perfil (opcional)</label>
          <textarea id="input-direccion" class="register__textarea" type="text" name="descripcion" placeholder="Maximo 40 Caracteres" autocomplete="street-address" required ></textarea>
        </div>
    <div class="form__group">
      <label for="password" class="form__label">Contraseña</label>
      <input type="password" name="password" class="form__input" placeholder="Contraseña">

        <div class="form__check">
          <label for="mostrar" class="form__label form__see--password">
          <input type="checkbox">
            Mostrar contraseña</label>
        </div>
    </div>
  
    <div class="form__group">
        <label for="password" class="form__label"> Confirmar Contraseña</label>
        <input type="password" name="confirm_password" class="form__input" placeholder="Contraseña">
    </div>

    <button type="submit" onclick="mostrarAlerta(event)"
      class="form-content__register--row-buttons__next">
      Registrarse
    </button>
    
  </form>


   <div class="form-content__register--row-buttons">
      <a href="{% url 'register' %}"
        class="form-content__register--row-buttons__back">
        Volver
      </a>
    </div>
</div>