<aside class="sidebar">
  <ul class="sidebar__list">
    <li>
      <a href="/frontend/public/views/home_admin.html" class="sidebar__item">
        <img src="/frontend/public/icons/home.svg" alt="icono inicio" class="sidebar__icon">
        <span class="sidebar__text">Inicio</span>
      </a>
    </li>
    <li>
      <a href="/frontend/public/views/orders_page.html" class="sidebar__item">
        <img src="/frontend/public/icons/truck.svg" alt="icono pedidos" class="sidebar__icon">
        <span class="sidebar__text">Pedidos</span>
      </a>
    </li>
    <li>
      <a href="/frontend/public/views/producs_page.html" class="sidebar__item">
        <img src="/frontend/public/icons/box.svg" alt="icono productos" class="sidebar__icon">
        <span class="sidebar__text">Productos</span>
      </a>
    </li>
    <li>
      <a href="/frontend/public/views/usuarios_admin.html" class="sidebar__item">
        <img src="/frontend/public/icons/users.svg" alt="icono usuarios" class="sidebar__icon">
        <span class="sidebar__text">Usuarios</span>
      </a>
    </li>
  </ul>
</aside>
