<div class="table-containerstore">
  <div class="table_shops">
    <table class="shops-table">
      <thead>
        <tr class="shops-table__row">
          <th class="shops-table__header">Nombre de la tienda</th>
          <th class="shops-table__header">Teléfono</th>
          <th class="shops-table__header">Correo Electrónico</th>
          <th class="shops-table__header">Departamento</th>
          <th class="shops-table__header">Municipio</th>
          <th class="shops-table__header">URL</th>
          <th class="shops-table__header">Horario</th>
          <th class="shops-table__header">Estado</th>
          <th class="shops-table__header">Acción</th>
        </tr>
      </thead>

      <tbody>
        <tr class="shops-table__row">
          <td class="shops-table__cell">El Ahorro</td>
          <td class="shops-table__cell">3056785643</td>
          <td class="shops-table__cell">sebasv@gmail.com</td>
          <td class="shops-table__cell">Risaralda</td>
          <td class="shops-table__cell">Santa Rosa de Cabal</td>
          <td class="shops-table__cell">www.ahorro.com</td>
          <td class="shops-table__cell">Lunes a viernes</td>
          <td class="users-table__cell users-table__cell--status">
            <span class="users-table__status users-table__status--blocked">Inactivo</span>
          </td>
          <td class="shops-table__cell">
            <button class="users-table__button users-table__button--edit">
              <a href="/frontend/public/views/shop-detail-admin.html">
                <img src="/frontend/public/icons/edit.svg" alt="edit">
              </a>
            </button>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr class="shops-table__row">
          <td class="shops-table__cell">La vendemás</td>
          <td class="shops-table__cell">3056785643</td>
          <td class="shops-table__cell">vendemas@gmail.com</td>
          <td class="shops-table__cell">Risaralda</td>
          <td class="shops-table__cell">Pereira</td>
          <td class="shops-table__cell">www.vendemas.com</td>
          <td class="shops-table__cell">Lunes a viernes</td>
          <td class="users-table__cell users-table__cell--status">
            <span class="users-table__status users-table__status--active">Activo</span>
          </td>
          <td class="shops-table__cell">
            <button class="users-table__button users-table__button--edit">
              <a href="/frontend/public/views/shop-detail-admin.html">
                <img src="/frontend/public/icons/edit.svg" alt="edit">
              </a>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
