{% load static %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!-- Contenedor debajo del header -->
<div class="toolbar-orders">
  <div class="toolbar-orders__content">
    <div class=" header-home__group--left">
      <h1 class="header-home__title">Agrophia</h1>
      <img src="/frontend/public/icons/planta.png" alt="Icon principal">
    </div>

    <div class="header-orders__group header-home__group--right">

      <div class="toolbar-orders__row-buttons">
        <a href="/frontend/public/views/generate-order_report.html">
          <button class="toolbar-orders__button">Generar Reporte</button>
        </a>
        <button class="toolbar-orders__button">Gestionar Pedido</button>
      </div>
      
      <!-- Iconos de notificaciones y perfil -->
      <div class="toolbar-orders__row-icons">
        <button class="toolbar-orders__icon" aria-label="Notificaciones">
          <img src="/frontend/public/icons/bell.svg" alt="" class="toolbar-orders__icon-img">
        </button>
        <button class="toolbar-orders__icon" aria-label="Perfil">
          <img src="/frontend/public/icons/user.svg" alt="" class="toolbar-orders__icon-img">
        </button>
      </div>
    </div>
  </div>  
</div>
