<div class="shop_update">

  <!-- <h1 class="form-shop__title">Agrophia</h1> -->

  <div class="shop-update__container">

      <div class="shop">
              <h2 class="shop-update__subtitle">Editar Tienda</h2>
          <div class="shop-update">
              <form class="shop-update__body">

                  <div class="shop-update__group">
                      <label for="nombre" class="shop-update__label">Nombre de la tienda</label>
                      <input type="text" class="shop-update__input" placeholder="Ej:El ahorro" required>
                  </div>

                  <div class="shop-update__group">
                      <label for="tel" class="shop-update__label">Teléfono</label>
                      <input type="tel" class="shop-update__input" placeholder="Ej:3056785643" required>
                  </div>

                  <div class="shop-update__group">
                      <label for="email" class="shop-update__label">Correo Electrónico</label>
                      <input type="email" class="shop-update__input" placeholder="Ej:sebasv@gmail.com" required>
                  </div>

                  <div class="shop-update__group">
                      <label class="shop-update__label" for="direccion">Departamento</label>
                      <select id="direccion" name="" class="shop-update__option">
                          <option value="">Selecciona el Departamento</option>
                          <option value="Risaralda">Risaralda</option>
                          <option value="Caldas">Caldas</option>
                          <option value="Quindio">Quindio</option>
                      </select>
                  </div>

                  <div class="shop-update__group">
                      <label class="shop-update__label" for="direccion">Municipio</label>
                      <select id="direccion" name="" class="shop-update__option">
                          <option value="">Selecciona el Municipio</option>
                          <option value="Neira">Risaralda</option>
                          <option value="Manizales">Manizales</option>
                          <option value="San Josè">San Josè</option>
                      </select>
                  </div>
          </div>
            <div class="profile-update__row-buttons">
                <a href="/frontend/public/views/profile_shop.html" class="profile-update__row-buttons__back">Volver</a>
                <a href="/frontend/public/views/p_update_shop2.html">
                    <button type="submit"  class="create-perfil-farmer__next">Siguiente</button>
                </a>
            </div>
      </div>
  </div>
</div>
