  <div class="profile-update">
    <h2 class="profile-update__title">Editar Perfil</h2>
    <div class="profile-update__row-informartion">

      <div class="profile-update__group-file__photo">
          <img src="/frontend/public/img/foto_sofi.png" alt="foto de Perfil cargada" class="profile-update__group-file__photo_review">
          
          <!-- Label que actúa como botón -->
          <label for="input-foto" class="profile-update__label--file">
            Cambiar foto
          </label>
          <input id="input-foto" class="profile-update__input profile-update__input--file" type="file" name="foto" />
          
          <!-- Aquí se mostrará el nombre de la foto seleccionada -->
          <!-- <span id="file-name" class="profile-update__file-name">Ningún archivo seleccionado</span> -->
        </div>
        <form class="profile-update__form" novalidate>
          <div class="profile-update__group">
            <label class="profile-update__label" for="input-identificacion">Tipo de Documento</label>
              <select name="tdocumento" class="form__option" required>
                <option value="">-- Tipo de documento --</option>
                <option value="cc">CC</option>
                <option value="ti">TI</option>
                <option value="cedula extranjera">Cédula extranjera</option>
                <option value="pasaporte">Pasaporte</option>
              </select>
                  </div>

          <div class="profile-update__group">
            <label class="profile-update__label" for="input-identificacion">Número de Identificación</label>
            <input id="input-identificacion" class="profile-update__input" type="text" name="identificacion" placeholder="1056884567" autocomplete="off" required />
          </div>
          <div class="profile-update__group">
          <label class="profile-update__label" for="input-nombres">Nombres</label>
          <input id="input-nombres" class="profile-update__input" type="text" name="nombres" placeholder="Breiner" autocomplete="given-name" required />
        </div>
        
        <div class="profile-update__group">
          <label class="profile-update__label" for="input-apellidos">Apellidos</label>
          <input id="input-apellidos" class="profile-update__input" type="text" name="apellidos" placeholder="Morales" autocomplete="family-name" required />
        </div>


    </form>
    </div>
  <div class="profile-update__row-buttons">
    <a href="/frontend/public/views/profile.html" class="profile-update__row-buttons__back">Volver</a>
    <a href="/frontend/public/views/update-perfil2.html" class="profile-update__row-buttons__next">Siguiente</a>
  </div>
    </div>
</div>
