{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes recibidos</title>
    <link rel="icon" href="{% static 'icons/planta.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar-store.css' %}">
    <script src="{% static 'js/components/mensajes-farmer.js' %}" defer></script>
    <script src="{% static 'js/components/sent_messages_delete_modal.js' %}" defer></script>
</head>
<body class="page-messages-farmer sent-messages-page">
    {% include 'tiendas/components/navbar-store.html' %}

    <div class="mensajes-farmer">
        {% include 'mensajes/components/farmer_messages.html' %}
    </div>
</body>
</html>
