{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes enviados</title>
    <link rel="icon" href="{% static 'icons/planta.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="sent-messages-page">
    {% include 'components/navbar-home.html' %}

    <div class="mensajes-sends">
        {% include 'mensajes/components/sent_messages.html' %}
    </div>
    <script src="{% static 'js/components/mensajes-sends.js' %}" defer></script>
    <script src="{% static 'js/components/sent_messages_delete_modal.js' %}" defer></script>
</body>
</html>
