{% load static %}

<div class="card-farmer">
  {% with first_image=product.images.first %}
  <img src="{% if first_image %}{{ first_image.image.url }}{% else %}{% static 'icons/planta.png' %}{% endif %}" alt="{{ product.nombre }}" class="card-farmer__img">
  {% endwith %}
  <div class="card-farmer__info">
    <p class="card-farmer__price">$ {{ product.precio }}</p>
    <p class="card-farmer__name">{{ product.nombre }}</p>
  </div>
    <div class="card-homefarmer__button">
      <a href="{% url 'productos:update_product' product.id %}" class="card-farmer__button-one">Editar producto</a>
      <a href="{% url 'productos:review_product_farmer' product.id %}" class="card-homefarmer__button-two">Visualizar</a>
    </div>
</div>