<div class="product-form__content">
  {% if product_success %}
  <div id="flash-product-created" class="flash-product-created" data-redirect-url="{{ flash_redirect_url }}">
    Producto creado exitosamente
  </div>
  {% endif %}

  <div class="product-form__container">
    <h2 class="product-form__subtitle">Subir producto</h2>
  </div> 

  <div class="product-form2">
    <form id="create-product-step2-form" class="product-form__body2" method="POST" action="{% url 'productos:create_product2' %}">
      {% csrf_token %}

      {% if errores.fotos %}
        <div class="input-error" style="display: block;">{{ errores.fotos }}</div>
      {% endif %}
      
      <div class="product-form__group">
        <label for="precio" class="product-form__label">Precio</label>
        <input id="precio-producto" name="precio" type="number" min="0.01" step="0.01" class="product-form__input" placeholder="Ej: 20.00" value="{{ valores.precio|default:'' }}" required>
        <div id="error-precio-producto" class="input-error"{% if not errores.precio %} style="display: none;"{% endif %}>{{ errores.precio }}</div>
      </div>

      <div class="product-form__group">
        <label for="stock-producto" class="product-form__label">Cantidad disponible (stock)</label>
        <input id="stock-producto" name="stock" type="number" min="1" step="1" class="product-form__input" placeholder="Ej: 20" value="{{ valores.stock|default:'' }}" required>
        <div id="error-stock-producto" class="input-error"{% if not errores.stock %} style="display: none;"{% endif %}>{{ errores.stock }}</div>
      </div>

      <div class="product-form__group">
        <label for="descripcion" class="product-form__label">Descripción</label>
        <input id="descripcion-producto" name="descripcion" type="text" class="product-form__input" placeholder="Breve descripción del producto" value="{{ valores.descripcion|default:'' }}" maxlength="255" required>
        <div id="error-descripcion-producto" class="input-error"{% if not errores.descripcion %} style="display: none;"{% endif %}>{{ errores.descripcion }}</div>
      </div>

      <div class="product-form__group">
        <label for="garantia" class="product-form__label">Tiempo de durabilidad del producto</label>
        <input id="garantia-producto" name="garantia" type="text" class="product-form__input" placeholder="Ej: 7 días en refrigeración" value="{{ valores.garantia|default:'' }}" maxlength="120" required>
        <div id="error-garantia-producto" class="input-error"{% if not errores.garantia %} style="display: none;"{% endif %}>{{ errores.garantia }}</div>
      </div>

    </form>
  </div>
      <!-- Botones -->
      <div class="product-form__row">
        <a href="{% url 'productos:create_product' %}" class="product-form__row--back">Volver</a>
        <button id="btn-publicar-producto" type="submit" form="create-product-step2-form" class="product-form__row--next">Publicar Producto</button>
      </div>
</div>
