<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de contacto</title>

    <link rel="icon" href="/frontend/public/icons/planta.png">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    
    <script src="/frontend/public/js/components/gov-co__one.js"></script>
    <script src="/frontend/public/js/components/gov-co__two.js"></script>
    
    <script src="/frontend/public/js/components/form_contact.js" defer></script> 
    <!-- <script src="/frontend/public/js/components/navbar_contact.js" defer></script>  -->
    <script src="/frontend/public/js/components/navbar-home.js"></script>
    <script src="/frontend/public/js/components/footer.js" defer></script> 
    

</head>
<body>
    <div class="govco-container__one">
        {% include 'components/gov-co__one.html' %}
    </div>
    
    <header class="header-home__container"></header>
    
    <!-- <header class="navbar-container"></header> -->

    <!-- <header class="contact-home__section">
        <div class="contact-home__container"></div>
    </header> -->

    <form class="contact-form__body">
        <div class="contact-form-container"></div>
    </form>

     <footer class="footer-container"></footer>
    <div class="govco-container__two">
        {% include 'components/gov-co__one.html' %}
    </div>
   

</body>
</html>