<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Tienda</title>
    {% load static %}
    <link rel="icon" href="{% static 'icons/planta.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="govco-container__one">
        {% include 'components/gov-co__one.html' %} 
    </div>

    <div class="page-left__shop">
        <h1 class="page__title-left">Bienvenido a Agrophia <br>conectando el campo con tu mesa</h1>
    </div>

    <!-- Mitad derecha (formulario) -->
    <div class="page-right__shop">
        <div class="page__formshop-container">
            {% include 'components/create-shop2.html' %}
        </div>    
    </div>
    <div class="govco-container__two">
        {% include 'components/gov-co__one.html' %} 
    </div>

    <script src="/frontend/public/js/components/gov-co__one.js"></script>
    <script src="/frontend/public/js/components/gov-co__two.js"></script>
    <script src="/frontend/public/js/components/create-shop2.js" defer></script>

</body>
</html>