<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar producto</title>

    <link rel="icon" href="/frontend/public/icons/planta.png">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    
    <script src="/frontend/public/js/components/interface_farmer.js" defer></script>
    <script src="/frontend/public/js/components/form_subir_producto.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>

</head>
<body>
    
   <!-- <div class="producto-form__title">Agrophia</div> -->

   <header class="navbar-container"></header> 

    <div class="producto-form__body">
        {% include 'components/create_product.html' %}
    </div>

     <footer class="footer-container"></footer>
</body>
</html>