{% load static %}

{% block content %}
<div class="login-container">
  <a href="/frontend/public/views/index.html" class="login__back">Volver</a>

  <div class="login-container__card">
    <div class="login">
      <h1 class="login__title">Iniciar Sesión</h1>

      <form method="POST" class="login-form">
      {% csrf_token %}

        <div class="login-form__container">
          <label for="usuario" class="login-form__container__label">Número de documento</label>
          <input type="text" id="usuario" class="login-form__container__input" name="usuario" placeholder="Número de documento" required />
        </div>

        <div class="login-form__container">
          <label for="clave" class="login-form__container__label">Contraseña</label>
          <input type="password" id="clave" class="login-form__container__input" name="clave" placeholder="Contraseña" required />
        </div>
      </form>

      <div class="login__show-password">
        <input type="checkbox" class="login-form__checkbox"/>
        <label for="toggle-password" class="login-form__checkbox-label">Mostrar contraseña</label>
      </div>
      <button type="submit" class="login__button">Iniciar sesión</button>


      <a href="/frontend/public/views/p_forgot-password.html" class="login-container__register">
        ¿Olvidaste tu contraseña?
      </a>
    </div>
  </div>
</div>

{% endblock %}
