<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/frontend/public/icons/planta.png">
    <link rel="stylesheet" href="/frontend/public/css/main.css"> 
    <script src="/frontend/public/js/components/gov-co__one.js"></script>
    <script src="/frontend/public/js/components/gov-co__two.js"></script>
    <script src="/frontend/public/js/components/header_admin.js" defer></script>
    <script src="/frontend/public/js/components/sidebar_admin.js" defer></script>
    <script src="/frontend/public/js/components/toolbar_home.js" defer></script>
    <script src="/frontend/public/js/components/table_home_admin.js" defer></script>
    <script src="/frontend/public/js/components/card_home_information.js" defer></script>
    <script src="/frontend/public/js/components/search_home_admin.js" defer></script>
    <title>Inicio de administrador</title>
</head>
<body>
    <div class="govco-container__one"></div>
    <!-- <header class="header-adminis"></header> -->
    <!-- sidebar colocado en columna izquierda -->
    <div class="toolbar-home"></div>
    <!-- <div class="table_header-users"> </div> -->
    <div class="search-home"></div>
    <div class="layout">
        <div class="sidebar-container"></div>
        <div class="layout__direction-row-home">
            <div class="table-home-container"></div>
            <div class="card_home"></div>
        </div>
    </div>
    <div class="govco-container__two"></div>
</body>
</html>
