<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        {% load static %}
        
        <link rel="icon" href="/frontend/public/icons/planta.png">
        <link rel="stylesheet" href="/frontend/public/css/main.css">
        
        <script src="/frontend/public/js/components/gov-co__one.js" defer></script>
    <script src="/frontend/public/js/components/gov-co__two.js" defer></script>
    <script src="/frontend/public/js/components/navbar.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>
    <script src="/frontend/public/js/components/hero.js" defer></script>
    <script src="/frontend/public/js/components/search.js" defer></script>

</head>
<body>
    <div class="govco-container__one"></div>

    <header class="navbar-container"></header>
    <section class="hero">
        <div class="hero-container"></div>
    </section>
    
    <main>
        <div class="login-customer__row">
            <section class="search__container-index"></section> 
            <section class="list-home__container"></section>
        </div>
        
        <section class="card-home__container-section">
            <div class="card-home__container"></div>
        </section>
    </main>


    <script src="/frontend/public/js/components/navbar-home.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>
    <script src="/frontend/public/js/components/search.js" defer></script>
    <script src="/frontend/public/js/components/list-home.js"></script>
    <script type="module">
        import { loadCards } from "/frontend/public/js/components/card-home.js";
        loadCards(".card-home__container");// Clase para cargar todas las cards
    </script>
    
   <footer class="footer">  
         <div class="footer-container"></div>
    </footer>
    
    <div class="govco-container__two"></div>
</body>
</html>