<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Agricultor</title>
    <link rel="icon" href="/frontend/public/icons/planta.png">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <script src="/frontend/public/js/components/gov-co__one.js"></script>
    <script src="/frontend/public/js/components/gov-co__two.js"></script>  
    <script src="/frontend/public/js/components/interface_farmer.js" defer></script>
    <script src="/frontend/public/js/components/footer.js" defer></script>
    <script src="/frontend/public/js/components/search_interface_farmer.js" defer></script>
    <script src="/frontend/public/js/components/interface_option_farmer.js" defer></script>
    <script src="/frontend/public/js/components/search.js" defer></script>
    
    <script type="module">
        import { loadCards } from "/frontend/public/js/components/card-home-farmer.js";
        loadCards(".card-farmer__container");// Clase para cargar todas las cards
    </script>
   
</head>
<body>
    <div class="govco-container__one">
        {% include 'components/gov-co__one.html' %}
    </div>
    <header class="navbar-container"></header>
     
    <div class="layout__interface-farmer">
        <section class="board-container"></section>
        <section class="search__container-index"></section>
        <div class="card-farmer__container"></div>
    </div>

    <footer class="footer-container"></footer>     
    <div class="govco-container__two">
        {% include 'components/gov-co__one.html' %}
    </div>
</body>
</html>