<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    {% load static %}
    <link rel="icon" href="{% static 'css/icons/planta.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="/frontend/public/js/components/gov-co__one.js"></script>
    <script src="/frontend/public/js/components/gov-co__two.js"></script>
    <script src="/frontend/public/js/components/login.js" defer></script>
    <script src="/frontend/public/js/components/buttonBack.js" defer></script>


</head>
<body>
    <div class="govco-container__one"></div>
    <!-- <div class="page"> -->
    <!-- <div class="button-container"></div> -->
    <!-- Mitad izquierda (imagen) -->
    <div class="page__left_login"
        style="background:
        linear-gradient(var(--overlay-dark), var(--overlay-dark)),
        url('{% static 'img/farmer.jpg' %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;">
    <h1 class="login__title-left">
        Bienvenido a Agrophia <br> conectando el campo con tu mesa
    </h1>
    </div>


    <!-- Mitad derecha (formulario) -->
    <div class="page__right_login">

        <!-- <div class="container-login"></div> -->
        {% include 'components/forloggin.html' %}
    </div>
  </div>

  <div class="govco-container__two"></div>

    
</body>
</html>