<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olvidaste tu contaseña</title>
  {% load static %}

  <link rel="icon" href="{% static 'icons/planta.png' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div class="govco-container__one">
    {% include 'components/gov-co__one.html' %}
  </div>
  <div class="page__left_forgotpassword"
        style="background:
        linear-gradient(var(--overlay-dark), var(--overlay-dark)),
        url('{% static 'img/farmer.jpg' %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;">

    <section class="forgot-password__hero">
      <!-- <div class="forgot-password__hero-container"></div> -->
        {% include 'components/hero-forgot-password.html' %}
    </section> 
  </div>

    <!-- Mitad derecha (formulario) -->
  <div class="page__right_forgotpassword">
      <!-- <div class="forgot-password__container"></div> -->
      {% include 'components/forgot-password.html' %}
  </div>
  <div class="govco-container__two">
    {% include 'components/gov-co__one.html' %}
  </div>

  <script src="/frontend/public/js/components/gov-co__one.js"></script>
  <script src="/frontend/public/js/components/gov-co__two.js"></script>
  <script src="/frontend/public/js/components/forgot-password.js"></script>
  <script src="/frontend/public/js/components/hero-forgot-password.js"></script>
</body>
</html>
