<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olvidaste tu contaseña</title>
  <link rel="icon" href="/frontend/public/icons/planta.png">
  <link rel="stylesheet" href="/frontend/public/css/main.css"> 
</head>
<body>
  <div class="govco-container__one"></div>
  <div class="page__left_forgotpassword">
    <section class="forgot-password__hero">
      <div class="forgot-password__hero-container"></div>
    </section> 
  </div>

    <!-- Mitad derecha (formulario) -->
  <div class="page__right_forgotpassword">
      <div class="forgot-password__container"></div>
  </div>
  <div class="govco-container__two"></div>

  <script src="/frontend/public/js/components/gov-co__one.js"></script>
  <script src="/frontend/public/js/components/gov-co__two.js"></script>
  <script src="/frontend/public/js/components/forgot-password.js"></script>
  <script src="/frontend/public/js/components/hero-forgot-password.js"></script>
</body>
</html>
