<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    {% load static %}
    <link rel="icon" href="{% static 'css/icons/planta.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="/frontend/public/js/components/gov-co__one.js"></script>
    <script src="/frontend/public/js/components/gov-co__two.js"></script>
    <script src="/frontend/public/js/components/navbar.js" defer></script>
    <script src="/frontend/public/js/components/register.js", defer></script>
    <script src="/frontend/public/js/components/footer.js", defer></script>
</head>
<body>
    <div class="govco-container__one"></div>
    
    <header class="navbar-container"></header>

    <div class="form-container"></div>
    <div class="footer-container"></div>
    
    <div class="govco-container__two"></div>


    {% include 'components/register.html' %}
</body>
</html>
