<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
    {% load static %}
    <link rel="icon" href="{% static 'icons/planta.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="govco-container__one">
        {% include 'components/gov-co__one.html' %}
    </div>
   <div class="page__left_reset"
        style="background:
        linear-gradient(var(--overlay-dark), var(--overlay-dark)),
        url('{% static 'img/farmer.jpg' %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;">
            <p class="page__description_reset-password">Únete a Agrophia <br> Conectando el campo con tu mesa</p>
        </div>

    <!-- Mitad derecha (formulario) -->
    <div class="page__right_reset">
        <form class="reset__form">
            <!-- <div class="reset-container"></div>  -->
            {% include 'components/form_reset_password.html' %}
       </form>
     
    </div>
    <div class="govco-container__two">
        {% include 'components/gov-co__one.html' %}
    </div>

</body>
</html>
  
