<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>

    <link rel="icon" href="/frontend/public/icons/planta.png">

    <link rel="stylesheet" href="/frontend/public/css/main.css">
    
    <script src="/frontend/public/js/components/gov-co__one.js"></script>
    <script src="/frontend/public/js/components/gov-co__two.js"></script> 
    <script src="/frontend/public/js/components/form_reset_password.js" defer></script>
    <script src="/frontend/public/js/components/buttonBack.js" defer></script>
    
    
</head>
<body>
    
    
    <div class="govco-container__one"></div>
   <div class="page__left_reset">
            <p class="page__description_reset-password">Únete a Agrophia <br> Conectando el campo con tu mesa</p>
        </div>

    <!-- Mitad derecha (formulario) -->
    <div class="page__right_reset">
        <form class="reset__form">
            <div class="reset-container"></div>  
       </form>
     
    </div>
    <div class="govco-container__two"></div>

</body>
</html>
  
