    <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/frontend/public/icons/planta.png">
    <link rel="stylesheet" href="/frontend/public/css/main.css">
    <script src="/frontend/public/js/components/gov-co__one.js"></script>
    <script src="/frontend/public/js/components/gov-co__two.js"></script>   
    <script src="/frontend/public/js/components/store_admin.js" defer></script>
    <script src="/frontend/public/js/components/sidebar_admin.js" defer></script>
    <script src="/frontend/public/js/components/header_admin.js" defer></script>
    <script src="/frontend/public/js/components/toolbar_shop.js" defer></script>
    <script src="/frontend/public/js/components/search_users.js" defer></script>
    <title>Listar tiendas</title>
</head>
<body>
    <div class="govco-container__one"></div>
    <!-- sidebar colocado en columna izquierda -->
    <div class="toolbar_shop"></div>
    <!-- <div class="table_header-users"> </div> -->
    <div class="search-users"></div>  
    <div class="layout">
    <div class="sidebar-container"></div>
    <div class="table_store"></div>
    <!-- </div> -->
    <div class="govco-container__two"></div>
</body>
</html>
