<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Perfil</title>

  <link rel="icon" href="/frontend/public/icons/planta.png">


  <!-- CSS principal -->
  <link rel="stylesheet" href="/frontend/public/css/main.css">

  <!-- JS del componente -->
  <script src="/frontend/public/js/components/gov-co__one.js"></script>
  <script src="/frontend/public/js/components/gov-co__two.js"></script>
  <script src="/frontend/public/js/components/update_perfil.js" defer></script>
  <script src="/frontend/public/js/components/footer.js" defer></script>
</head>
<body>
  <div class="govco-container__one">
    {% include 'components/gov-co__one.html' %}
  </div>
  <div class="profile-form-update-container">
    {% include 'components/update_perfil.html' %}
  </div>
  <footer class="footer-container"></footer>
  <div class="govco-container__two">
    {% include 'components/gov-co__one.html' %}
  </div>
</body>
</html>
